{% extends "basetemplate.html" %}

{% block javascript_block %}
<script>
    // sets current tab to active
    $("ul.nav-tabs>li").each(function(k, v) { 
        var tab = $(v);
        if (tab.text().includes(
                {% block current_tab %}
                {% endblock %}
            )) {
            tab.addClass("active");
        } else {
            tab.removeClass("active");
        }   
    }); 

    {% block hacky_script %}
    {% endblock hacky_script %}

</script>
{% endblock %}

{%block head%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'parents/style.css' %}" />
{% endblock %}


{% block body %}

{% block parent_content %}
{% endblock parent_content %}

{% endblock %}
