{% extends "parents/base_parent.html" %}

{% block parent_content %}

<table class="table table-hover">
	<tr> 
		<td> Name: </td>
		<td> 
			{{ parent.first_name}} 
			{{ parent.last_name }}
		</td>
	</tr>
	<tr> 
		<td> Home Phone: </td>
		<td> {{ parent.home_phone }} </td>
	</tr>
	<tr> 
		<td> Cell Phone: </td>
		<td> {{ parent.cell_phone }} </td>
	</tr>
	<tr> 
		<td> Email: </td>
		<td> {{ parent.email }} </td>
	</tr>
	<tr> 
		<td> Amount paid: </td>
		<td> 
			{{ parent.amount_paid }} 
			{% if parent.amount_paid == 0 %}
				<span class="label label-danger">Not paid</span>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td> Children </td>
		<td>
		{% if children_list %}
		<ul>
		{% for child in children_list %}
			<li> 
			<a href="{% url 'school:studentdetail' child.id %}">
			{{ child.first_name }} {{ child.last_name }}
			</li>
		{% endfor %}
		</ul>
		{% else %}
			No children in the system.
		{% endif %}
		</td>
	</tr>
</table>
{% endblock parent_content %}