{% extends "parents/base_parent.html" %}

{% block current_tab %}
	"View"
{% endblock %}

{% block parent_content %}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="{% url 'school:parentlist' %}">View Parents</a></li>
    <li role="presentation"><a href="{% url 'school:parentcreate' %}">Add Parent</a></li>
</ul>

<div class="row">   
	<div class="col-lg-12">
    <h1 class="page-header">
        Parents<small> List</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-sitemap"></i> <a> Parents > List</a>
        </li>
    </ol>

</div>


<div class="col-md-3 school-list">

	<div class="filters-holder">
		<a class="btn btn-primary btn-sm" data-toggle="collapse" href="#filters" 
		aria-expanded="false" aria-controls="collapseExample">
	  	Filters
		</a>
		<div class="collapse" id="filters">
		  <div>
		    <input type="checkbox"> <label>First Name</label> <input>
		    <br>
		    <input type="checkbox"> <label>Last Name</label> <input>
		    <br>
		    <input type="checkbox"> <label>Payment Status</label> <input>
		    <br>
		    <input type="checkbox"> <label>Receipt No.</label> <input>
		  </div>
		</div>
	</div>

<br><br>
	{% if parent_list %}
	<ul class="list-unstyled school-list">
		{% for parent in parent_list %}
	  		<li>
	  		<a href="{% url 'school:parentlist' parent.id %}">
	  			 {{ parent.first_name }} {{ parent.last_name }}
	  		</a>
	  		</li>
	  	{% endfor %}
	</ul>

	{% else %}
		<div class="alert alert-info" role="alert">No parents have been added.</div>
	{% endif %}

</div>

<div class="col-md-9 school-info">
	{% if errors %}
		<div class="panel panel-danger">
			{{ errors }}
		</div>
	{% endif %}
	
	{% if error %}
		<div class="panel panel-danger">
			{{ error }}
		</div>
	{% elif parent %}
	<span>
		<h3> Parent Info </h3>
		<a href="{%url 'school:parentedit' parent.id %}" id="edit-parent-btn" class="pull-right"> Edit </a>
	</span>
	<table class="table table-hover">
		<tr> 
			<td> Name: </td>
			<td> 
				{{ parent.first_name}} 
				{{ parent.last_name }}
			</td>
		</tr>
		<tr> 
			<td> Cell Phone: </td>
			<td> {{ parent.cell_phone }} </td>
		</tr>
		<tr> 
			<td> Email: </td>
			<td> {{ parent.email }} </td>
		</tr>
		<tr>
			<td> Comments: </td>
			{% if parent.comments %}
				<td> {{ parent.comments }} </td>
			{% else %}
				<td> None </td>
			{% endif%}
		</tr>
		<tr>
			<td> Children: </td>
			<td>
				{% if parent.student_set.all|length == 0 %}
					No children are registered.
				{% else %}
					<ul>
					{% for child in parent.student_set.all %}
						<li> 
						<a href="{% url 'school:studentlist' child.id %}">
						{{ child.first_name }} {{ child.last_name }}
						</a>
						</li>
					{% endfor %}
					</ul>
				{% endif %}
			
			</td>
		</tr>
		</table>

		<h4>Payments</h4>
		{% if parent.payment.all%}
		<table class="table table-bordered table-hover">
		{% for payment in parent.payment.all %}
		<tr> 
			<td> {{ payment.date }} </td>
			<td>
				Receipt {{ payment.receipt_no }}: 
				<strong>${{ payment.amount }}</strong>
			</td>
			<td>
			<form role="form" action="{%url 'school:parentlist' parent.id %}" method="post"> 
				{% csrf_token %}
				<input type="hidden" name="payment_id" value="{{ payment.id }}" />
				<input type="submit" class="btn btn-primary btn-sm" value="Edit" />
			</form>
			</td>
		</tr>
		{% endfor%}

		</table>
		{% else %}
			 <p class="btn-danger">No payments.</p>
		{% endif %}
		
	</table>

	<a class="btn btn-primary" data-toggle="collapse" href="#payment-form" aria-expanded="false" aria-controls="payment-form">
  	Add Payment
	</a>

	<div class="collapse" id="payment-form">
		<br>
		<form role="form" action="{%url 'school:paymentcreateone' parent.id %}" method="post">
			{% csrf_token %}
			<table class="table table-bordered">
				{{ payment_form.as_table }}
			</table>
			<input type="submit" class="btn btn-primary btn-sm" value="Submit" />
		</form> 
	</div>
	
	{% if payment_id %}
	<div id="edit-payment-form">
		<br>
		<form role="form" action="{%url 'school:paymentedit' parent.id payment_id %}" method="post">
			{% csrf_token %}
			<table class="table table-bordered">
				{{ edit_payment_form.as_table }}
			</table>
			<input type="submit" class="btn btn-primary btn-sm" value="Save" />
		</form> 
	</div>
	{% endif %}


{% else %}
		<div class="content alert alert-info" role="alert">
			Select a parent to view details.
		</div>
{% endif %}
	


</div>
{% endblock parent_content %}