{% extends "schools/base_school.html" %}

{% block hacky_script %}
$('#edit-course-btn').click(function() {
	var fields = $('td:nth-child(2)')
	$.each(fields, function(i,elm) { 
		$(elm).html("<input value=\"" + $(elm).text().trim() + "\"></input>") 
	})
});
{% endblock hacky_script %}

{% block school_content %}

<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active">
        <a href="{% url 'school:schoollist' %}">View Schools</a>
    </li>
    <li role="presentation">
        <a href="{% url 'school:schoolcreate' %}">Add School</a>
    </li>
</ul>

  <div class="row">   
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Schools<small> List</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i> <a> Schools > List</a>
                            </li>
                        </ol>

                    </div>

<div class="col-md-3 school-list">

	<div class="filters-holder">
		<a class="btn btn-primary btn-sm" data-toggle="collapse" href="#filters" 
		aria-expanded="false" aria-controls="collapseExample">
	  	Filters
		</a>
		<div class="collapse" id="filters">
		  <div>
		    <input type="checkbox"> <label>Title</label> <input>
		  </div>
		</div>
	</div>
<br><br>

	{% if school_list %}
	<ul class="list-unstyled school-list">
		{% for school in school_list %}
	  		<li>
	  		<a href="{% url 'school:schoollist' school.id %}">
	  			 {{ school.title }}
	  		</a>
	  		</li>
	  	{% endfor %}
	</ul>

	{% else %}
		<div class="alert alert-info" role="alert">No schools have been added.</div>
	{% endif %}

</div>

<div class="col-md-9 school-info">
	{% if success %}
	<div class="alert alert-info" role="alert"> School edited successfully! </div>
	{% endif %}
	
	<!-- There is an ERROR iff there the school was invalid-->
	{% if error %}
		<div class="panel panel-danger">
			{{ error }}
		</div>
	{% else %}
	<form role="form" action="{%url 'school:schooledit' school_id%}" method="post">
		{% csrf_token %}
		<table class="table table-hover school-form">
	    {{ school_form.as_table }}
	    </table>
	    <input class="btn btn-primary center-block" type="submit" value="Submit" />
	</form> 
	{% endif %}

</div>
{% endblock school_content %}

	