{% extends "schools/base_school.html" %}

{% block hacky_script %}
$('#edit-course-btn').click(function() {
	var fields = $('td:nth-child(2)')
	$.each(fields, function(i,elm) { 
		$(elm).html("<input value=\"" + $(elm).text().trim() + "\"></input>") 
	})
});
{% endblock hacky_script %}

{% block school_content %}

<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active">
        <a href="{% url 'school:schoollist' %}">View Schools</a>
    </li>
    <li role="presentation">
        <a href="{% url 'school:schoolcreate' %}">Add School</a>
    </li>
</ul>

  <div class="row">   
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Schools<small> List</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i> <a> Schools > List</a>
                            </li>
                        </ol>

                    </div>

<div class="col-md-3 school-list">

	{% if school_list %}
	<ul class="list-unstyled school-list">
		{% for school in school_list %}
	  		<li>
	  		<a href="{% url 'school:schoollist' school.id %}">
	  			 {{ school.title }}
	  		</a>
	  		</li>
	  	{% endfor %}
	</ul>

	{% else %}
		<div class="alert alert-info" role="alert">No schools have been added.</div>
	{% endif %}

</div>

<div class="col-md-9 school-info">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
	{% if school %}
	<span>
		<h3> School Info </h3>
		{% if school != user_school %}
        <a href="" target-url="{% url 'school:schooldelete' school.id %}" id="btn-delete" class="pull-right text-danger delete-link" data-toggle="modal" data-target="#delete-modal"> Delete </a>
		{% endif %}
		<a href="{% url 'school:schooledit' school.id %}" id="edit-course-btn" class="pull-right"> Edit </a>
	</span>
	<table class="table table-hover">
		<tr> 
			<td> Title: </td>
			<td> 
				{{ school.title }} 
			</td>
		</tr>
		<tr> 
			<td> Address: </td>
			<td> 
				{{ school.address }} 
			</td>
		</tr>
		<tr> 
			<td> Phone: </td>
			<td> {{ school.phone }} </td>
		</tr>
		<tr> 
			<td> Comments: </td>
			<td> {{ school.comments }} </td>
		</tr>
	</table>

	{% else %}
		<div class="content alert alert-info" role="alert">
			Select a school to view details.
		</div>
	{% endif %}
</div>
{% endblock school_content %}