{% extends "basetemplate.html" %}
{% load i18n %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'main-style.css' %}" />
{{ wizard.form.media }}
{% endblock %}

{% block javascript_block %}
<script>
	// populate the class confirmation modal on the student form
	$('#open-confirm-register-btn').click(function() {
        var j = 0;
		// get selected classes from dropdowns
		var classes = $('.class-dropdown option:selected');
        $('#class-confirmation-list').html("");

        // if nothing is actually selected, disable register button
		$.each(classes, function(i, elm) {
			if ($(elm).val().length > 0) {
				$('#class-confirmation-list').append(
					"<li> "+ $(elm).text() + "</li>"
				)
                j++;
			}
		})

        if (j == 0) {
            $('#class-confirmation-list').html("Please select a class.");
            $('#student-register-btn').prop("disabled",true);
        } else {
            $('#student-register-btn').prop("disabled",false);
        }
	});
	
	// makes the modal submit the form
	$("#student-register-btn").click(function() {
		$("#confirm-register-modal").modal("hide");
		$("#student-register-btn").appendTo("#student-registration-form");
		$("#student-registration-form").submit();
		return true;
  	});

	// date picker for the date fields 
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1980:" + new Date().getFullYear(),
    });

    {% if parent_list %}
    // autocomplete for parent info form
    var parentTags = [
    	{% for parent in parent_list %}
    		{'label': '{{ parent.first_name }} {{ parent.last_name }}',
    		'id': '{{ parent.id }}' },
    	{% endfor %}
    ]; 

    function fillParentForm(parent_dict) {
    	$('#id_parent_form-first_name').val(parent_dict['first_name']);
    	$('#id_parent_form-last_name').val(parent_dict['last_name']);
    	$('#id_parent_form-cell_phone').val(parent_dict['cell_phone']);
    	$('#id_parent_form-email').val(parent_dict['email']);
    	$('#id_parent_form-parent_comments').val(parent_dict['comments']);
    }

    $('#id_parent_form-first_name').autocomplete({
    	source: parentTags,
    	select: function(event, ui) {
    		// on selecting from the autocomplete, 
    		// ask for parent info
    		$.ajax({
    			type: "GET",
    			url: '{% url "school:parentget" %}', 
    			data: { parent_id : ui.item.id }, 
    			dataType: "json",   
    			success: function(data) {
    				fillParentForm(data);
    			},
    			error: function(xhr) {
    				alert("Something went wrong!");
    			}
    		});
    	}
    });

    {% endif %}

    {% if student_list %}
    // autocomplete for student info form
    var studentTags = [
    	{% for student in student_list %}
    		{'label': '{{ student.first_name }} {{ student.last_name }}',
    		'id': '{{ student.id }}' },
    	{% endfor %}
    ]; 

    function fillStudentForm(student_dict) {
    	$('#id_student_form-first_name').val(student_dict['first_name']);
    	$('#id_student_form-last_name').val(student_dict['last_name']);
    	$('#id_student_form-home_phone').val(student_dict['home_phone']);
    	$('#id_student_form-email').val(student_dict['email']);
    	$('#id_student_form-birthdate').val(student_dict['birthdate']);
    	$('#id_student_form-allergies').val(student_dict['allergies']);
    	$('#id_student_form-comments').val(student_dict['comments']);
    	$("#id_student_form-address").val(student_dict['address']);

    	// check gender radio button
    	if (student_dict['gender'] == 'M') {
    		$("input[value='M']").attr('checked', true);
    	} else {
    		$("input[value='F']").attr('checked', true);
    	}
    };

    function showClassHistory(class_history_html) {
        $('#class-history-table').html(class_history_html);
        $('#student-levels-div').removeClass("hidden");
    };

    $('#id_student_form-first_name').autocomplete({
    	source: studentTags,
    	select: function(event, ui) {
    		// on selecting from the autocomplete, 
    		// ask for student info
    		$.ajax({
    			type: "GET",
    			url: '{% url "school:studentget" %}', 
    			data: { student_id : ui.item.id }, 
    			dataType: "json",   
    			success: function(data) {
    				fillStudentForm(data);
    				showClassHistory(data['class_history_html'])
    			},
    			error: function(xhr) {
    				alert("Something went wrong!");
    			}
    		});
    	}
    });

    {% endif %}

    $("#print-btn").click(function() {
        $(".print").printArea();
    });
    

    {% if payment_parent %}
    	$('#payment-registration-form').submit(function() {
    		$.ajax({
    			type: "POST",
    			url: "{% url 'school:paymentcreate' payment_parent.id %}", 
    			data: $(this).serialize(), 
    			contentType: 'application/x-www-form-urlencoded',
    			success: function(data) {
    				var content_div = $('#payment-modal').find('.modal-body');
    				content_div.html(data['success']);

                    // on modal close, go back to first page of course registration
                    $('#payment-modal').on('hidden.bs.modal', function (e) {
                        window.location.replace('{% url "school:courseregister" %}');
                    });
    				$('#payment-modal').modal('show');
    			},
    			error: function(xhr) {
    				var content_div = $('#payment-modal').find('.modal-body');
    				content_div.html(xhr.responseText);
    				$('#payment-modal').modal('show');
    			}
    		});
    		return false;
    	})

    {% endif %}

</script>

{% endblock javascript_block%}

{% block body %}
    {% block register_content %}
    {% endblock register_content %}
{% endblock body %}
