{% block classhistory %}

{% if class_list %}
	
<table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Course</th>
          <th>Period</th>
        </tr>
      </thead>
      <tbody>
      	{% for class_reg in class_list %}
        <tr>
        	<td> {{ class_reg.reg_class }} 
              {% if class_reg.registration_status == False %}
                <em>(Waiting List)</em>
              {% endif %}
          </td>
        	<td> {{ class_reg.reg_class.period}} </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>

{% else %}

	This student has not registered in any classes yet.

{% endif %}

{% endblock classhistory %}