{% extends "registration/base_registration.html" %}

{% block register_content %}

<div class="row">   
  <div class="col-lg-12">
      <h1 class="page-header">
          Registration
      </h1>
  </div>
</div>

<h3><small>1. Parent Info </small>&nbsp;2. Student Registration&nbsp;<small>3. Summary&nbsp;4. Payment </small></h3>

<div class="col-md-9" id="student-reg-form">

{% for field in wizard.form %}
  {% if field.errors %}
    {{ field.name }} {{ field.errors }}
  {% endif %}
{% endfor %}

<form id="student-registration-form" action="" method="post">
    {% csrf_token %}
    {{ wizard.management_form }}

  <div class="panel panel-default">
    <div class="panel-heading">Student Info</div>
    <div class="panel-body">

      <div class="form-group">
        <div class="form-inline">
          <label>Full Name:</label>
          {{ wizard.form.first_name }}
          {{ wizard.form.last_name }}
        </div>

        <label>Gender:</label>
        {% for g in  wizard.form.gender %}
          <label class="radio-inline">
          {{ g.tag }}
          {{ g.choice_label }}
          </label>
        {% endfor %}
      </div>

      <div class="form-group">
        <label>Address:</label>
        {{ wizard.form.address }}
      </div>

      <div class="form-group form-half-size">
        <label>Birth Date</label>
        {{ wizard.form.birthdate }}
      </div>

      <div class="form-group">
        <div class="form-half-size">
          <label>Home Phone</label>
          {{ wizard.form.home_phone }}
        </div>
        <div class="form-half-size">
          <label>Email address</label>
          {{ wizard.form.email }}
        </div>
      </div>
      <div class="form-group">
        <label>Allergies</label>
        {{ wizard.form.allergies }}
      </div>
      <div class="form-group">
        <label>Comments</label>
        {{ wizard.form.comments }}
      </div>
    </div>
  </div>

  <div class="panel panel-default hidden" id="student-levels-div">
    <div class="panel-heading">Course History</div>
    <div class="panel-body">
        <div class="table-responsive" id="class-history-table">
        </div>
    </div>
  </div>

  <!-- Class Registration -->
  <div class="panel panel-default">
    <div class="panel-heading">Courses</div>
    <div class="panel-body courses-div">

      {% for field in form %}
        {% if "dept" in field.help_text %}
          <table class="table">
            <tr> 
              <td> <label> {{ field.name }} </label> </td>
              <td> {{ field }} </td>
            </tr>
          </table>
        {% endif %}
      {% endfor %}

    </div>
  </div>

  <button class="btn btn-primary pull-left" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">
          Back
  </button>
   <button type="button" id="open-confirm-register-btn" class="btn btn-primary pull-right" data-toggle="modal" data-target="#confirm-register-modal">
    Next
  </button>
  <br><br>
</form>

</div>

<!-- Modal -->
<div class="modal fade" id="confirm-register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <h4>Are you sure these courses are correct?</h4> 

        <ul id="class-confirmation-list">
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary pull-right" data-dismiss="modal" name="wizard_goto_step" id="student-register-btn" type="submit" value="submit">
          Register
        </button>
      </div>
    </div>
  </div>
</div>


{% endblock register_content %}