{% extends "registration/base_registration.html" %}

{% block register_content %}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="{% url 'school:courseregister' %}">Registration Form</a></li>
    <li role="presentation"><a href="{% url 'school:lkccourseregister' %}">LKC Registration Form</a></li>
</ul>

  <div class="row">   
    <div class="col-lg-12">
        <h1 class="page-header">
            Registration<small> Registration Form</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-sitemap"></i> <a> Registration > Registration Form</a>
            </li>
        </ol>

    </div>
  </div>

<div class="col-md-9" id="student-reg-form">

<form>
  <div class="panel panel-default">
    <div class="panel-heading">Student Info</div>
    <div class="panel-body">

      <div class="form-group">
        <div class="form-inline">
          <label>Full Name:</label>
          <input type="text" class="form-control" placeholder="First name">
          <input type="text" class="form-control" placeholder="Last name">
          <span class="btn btn-default" id="search-student-reg"><i class="fa fa-search"></i></span>
            <font size=1> *If already registered, click here to complete form automatically</font>
        </div>

        <label>Gender:</label>
        <label class="radio-inline">
          <input type="radio" id="gender" name="inlineRadioOptions" value="option2"> M
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" value="option2"> F
        </label>
      </div>

      <div class="form-group">
        <label>Address:</label>
        <input type="text" class="form-control" id="street-address" placeholder="Street Address">
      </div>
      <div class="form-group">
        <span class="form-inline">
          <input type="text" class="form-control" id="city" placeholder="City">
          <input type="text" class="form-control" id="postcode" placeholder="Postal Code">
        </span>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Birth Date</label>
        <input type="date" class="form-control" id="birthdate">
      </div>

      <div class="form-group">
        <div class="form-half-size">
          <label for="exampleInputEmail1">Home Phone</label>
          <input type="tel" class="form-control" id="phone">
        </div>
        <div class="form-half-size">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email">
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Parent Info</div>
    <div class="panel-body">
       <div class="form-group">
        <label>Parent Name:</label>
          <span class="form-inline">
            <input type="text" class="form-control" id="parent-first-name" placeholder="First name">
            <input type="text" class="form-control" id="parent-last-name" placeholder="Last name">
          </span>
        </div>

        <div class="form-group">
          <div class="form-half-size">
            <label for="exampleInputEmail1">Cell Phone</label>
            <input type="tel" class="form-control" id="parent-phone">
          </div>
          <div class="form-half-size">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="parent-email">
          </div>
        </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Emergency Contact Info</div>
    <div class="panel-body">
       <div class="form-group">
        <label>Name:</label>
          <span class="form-inline">
            <input type="text" class="form-control" id="emergency-first-name" placeholder="First name">
            <input type="text" class="form-control" id="emergency-last-name" placeholder="Last name">
          </span>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Relation</label>
          <input type="text" class="form-control" id="relation">
        </div>

        <div class="form-group">
          <div class="form-half-size">
            <label for="exampleInputEmail1">Cell Phone</label>
            <input type="tel" class="form-control" id="emergency-cell-phone">
          </div>
          <div class="form-half-size">
            <label for="exampleInputEmail1">Home Phone</label>
            <input type="tel" class="form-control" id="emergency-home-phone">
          </div>
        </div>
    </div>
  </div>

  
<div class="panel panel-default hidden" id="student-levels-div">
  <div class="panel-heading">Student Levels</div>
  <div class="panel-body">
      <div class="table-responsive">
        <table id="mytable" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Course</th>
                <th>Level</th>
                <th>Comment</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sikh History</td>
                <td>Level 1</td>
                <td>Test needed</td>
                <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
              </tr>
              <tr>
                <td>Gurmukhi/Santhiya</td>
                <td> - </td>
                <td> - </td>
                <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
              </tr>
              <tr>
                <td>Gatka/Activity</td>
                <td>Level 2</td>
                <td> - </td>
                <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
              </tr>
              <tr>
                <td>Tantee Saaj</td>
                <td>Level 1</td>
                <td> - </td>
                <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
              </tr>
              <tr>
                <td>Tabla</td>
                <td> - </td>
                <td> - </td>
                <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
              </tr>
              <tr>
                <td>Waja</td>
                <td> - </td>
                <td> - </td>
                <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
              </tr>
              <tr>
                <td>Dastaar</td>
                <td> Level 2 </td>
                <td> - </td>
                <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>

              </tr>
              <tr>
                <td>Wrestling</td>
                <td> - </td>
                <td> - </td>
                <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
              </tr>
            </tbody>
        </table>
      </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Courses</div>
  <div class="panel-body">
      <div class="form-group">
        <div class="row">  
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Sikh History
             <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  Course Number <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Level 1 <span class="badge">21</span></a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Level 2 <span class="badge">9</span></a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>
                </ul>
              </div>
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> Dastaar        
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  Course Number <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Level 1 <span class="badge">22</span></a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Level 2 <span class="badge">0</span></a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>
                </ul>
              </div>        
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> Gurmukhi/Santhiya
             <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  Course Number <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Level 1 <span class="badge">9</span></a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Level 2 <span class="badge">9</span></a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>
                </ul>
              </div>
          </label>
        </div>
        <br>
        <div class="row">  
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Tabla
                   <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Course Number <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Level 1 <span class="badge">11</span></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Level 2 <span class="badge">0</span></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>
                      </ul>
                    </div>
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Wrestling
                   <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Course Number <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Level 1 <span class="badge">2</span></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Level 2 <span class="badge">10</span></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>
                      </ul>
                    </div>
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Gatka/Activity
                   <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Course Number <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Level 1 <span class="badge">25</span></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Level 2 <span class="badge">2</span></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>
                      </ul>
                    </div>
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Waja
                   <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Course Number <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Level 1 <span class="badge">2</span></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Level 2 <span class="badge">7</span></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>
                      </ul>
                    </div>
                </label>
        </div>
      </div>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">Payment</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="exampleInputEmail1"><strong>Receipt No:</strong></label>
        <input type="text" class="form-control">

        <label for="exampleInputEmail1"><strong>Amount:</strong></label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary center-block">Submit</button>
  <br><br>
</form>

</div>


{% endblock register_content %}