{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block register_content %}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="{% url 'school:courseregister' %}">Registration Form</a></li>
    <li role="presentation"><a href="{% url 'school:lkccourseregister' %}">LKC Registration Form</a></li>
</ul>

<div class="row">   
  <div class="col-lg-12">
      <h1 class="page-header">
          Registration<small> Registration Form</small>
      </h1>
      <ol class="breadcrumb">
          <li class="active">
              <i class="fa fa-sitemap"></i> <a> Registration > Registration Form</a>
          </li>
      </ol>
  </div>
</div>

<h3>1.  Parent Info <small>&nbsp;2. Student Registration&nbsp;3. Summary&nbsp;4. Payment </small></h3>

<div class="col-md-9" id="student-reg-form">
  <form action="" method="post">{% csrf_token %}
    {{ wizard.management_form }}
    <div class="panel panel-default">
      <div class="panel-heading">Parent Info</div>
      <div class="panel-body">
         <div class="form-group">
          <label>Parent Name:</label>
            <span class="form-inline">
              <input type="text" class="form-control" name="first_name" placeholder="First name">
              <input type="text" class="form-control" name="last_name" placeholder="Last name">
              <span class="btn btn-default" id="search-parent-reg"><i class="fa fa-search"></i></span>
              <font size=1> *If already registered, click here to complete form automatically</font>
            </span>
          </div>

          <div class="form-group">
            <div class="form-half-size">
              <label>Cell Phone</label>
              <input type="tel" class="form-control" name="cell_phone">
            </div>
            <div class="form-half-size">
              <label>Email address</label>
              <input type="email" class="form-control" name="email">
            </div>
          </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Emergency Contact Info</div>
      <div class="panel-body">
         <div class="form-group">
          <label>Name:</label>
            <span class="form-inline">
              <input type="text" class="form-control" name="emergency_first_name" 
              placeholder="First name">
              <input type="text" class="form-control" name="emergency_last_name" 
              placeholder="Last name">
            </span>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Relation</label>
            <input type="text" class="form-control" id="relation">
          </div>

          <div class="form-group">
            <div class="form-half-size">
              <label for="exampleInputEmail1">Cell Phone</label>
              <input type="tel" class="form-control" id="emergency-cell-phone">
            </div>
            <div class="form-half-size">
              <label for="exampleInputEmail1">Home Phone</label>
              <input type="tel" class="form-control" id="emergency-home-phone">
            </div>
          </div>
      </div>
    </div>

    <button class="btn btn-primary pull-right" type="submit" value="{{ wizard.steps.next }}">
      Next
    </button>
    <br><br>
  </form>
</div>


{% endblock register_content %}