{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block register_content %}
<div class="row">   
  <div class="col-lg-12">
      <h1 class="page-header">
          Registration
      </h1>
  </div>
</div>

<h3>1.  Parent Info <small>&nbsp;2. Student Registration&nbsp;3. Summary&nbsp;4. Payment </small></h3>

{% for field in wizard.form %}
  {% if field.errors %}
    {{ field.name }} {{ field.errors }}
  {% endif %}
{% endfor %}

<div class="col-md-9" id="student-reg-form">
  <form action="" method="post">
    {% csrf_token %}
    {{ wizard.management_form }}
    <div class="panel panel-default">
      <div class="panel-heading">Parent Info</div>
      <div class="panel-body">
         <div class="form-group">
          <label>{{ wizard.form.first_name.label }}</label>
            <span class="form-inline">
              {{ wizard.form.first_name }}
              {{ wizard.form.last_name }}
            </span>
          </div>

          <div class="form-group">
            <div class="form-half-size">
              <label>{{ wizard.form.cell_phone.label }}</label>
              {{ wizard.form.cell_phone }}
            </div>
            <div class="form-half-size">
              <label>{{ wizard.form.email.label }}</label>
              {{ wizard.form.email }}
            </div>
          </div>
          
          <div class="form-group">
            <label>Comments</label>
            {{ wizard.form.parent_comments }}
          </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Emergency Contact Info</div>
      <div class="panel-body">
         <div class="form-group">
          <label>Name:</label>
            <span class="form-inline">
              {{ wizard.form.emergency_first_name }}
              {{ wizard.form.emergency_last_name }}
            </span>
          </div>

          <div class="form-group">
            <label>Relation</label>
            {{ wizard.form.emergency_relation }}
          </div>

          <div class="form-group">
            <div class="form-half-size">
              <label>Cell Phone</label>
              {{ wizard.form.emergency_cell_phone }}
            </div>
            <div class="form-half-size">
              <label>Home Phone</label>
              {{ wizard.form.emergency_home_phone }}
            </div>
          </div>

          <div class="form-group">
            <label>Comments</label>
            {{ wizard.form.contact_comments }}
          </div>
      </div>
    </div>

    <button class="btn btn-primary pull-right" name="wizard_goto_step" type="submit" value="submit">
      Next
    </button>
    <br><br>
  </form>
</div>


{% endblock register_content %}