{% extends "registration/base_registration.html" %}

{% block register_content %}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="{% url 'school:courseregister' %}">Registration Form</a></li>
    <li role="presentation"><a href="{% url 'school:lkccourseregister' %}">LKC Registration Form</a></li>
</ul>

  <div class="row">   
    <div class="col-lg-12">
        <h1 class="page-header">
            Registration<small> Registration Form</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-sitemap"></i> <a> Registration > Registration Form</a>
            </li>
        </ol>

    </div>
  </div>

<h3><small>1. Parent Info&nbsp;2. Student Registration&nbsp;</small>3. Summary&nbsp;<small>4. Payment </small></h3>

<div class="col-md-9" id="student-reg-form">

<div class="alert alert-success" role="alert">
  {{ parent_message }}
  {{ student_message }}
  {{ course_status }}
</div>

  <a href="#" onclick="window.print()">Print</a>

  <div>

      <h3>Jacob Thornton</h3>

      <table class="table table-bordered" style="font-size: 18px;">
        <tr> 
          <td>Period</td>
          <td>Jan 5th, 2015 - May 10th, 2015</td>
        </tr>
        <tr> 
          <td>Waja Level 4/5 (Boys) </td>
          <td>Monday and Thursday, 6:15 - 7:15 pm </td>
        </tr>
         <tr> 
          <td>Gatka/Wrestling Level 3 (Boys)  </td>
          <td>Wednesday and Saturday, 6:15 - 7:15 pm </td>
        </tr>
        <tr> 
          <td>Sikh History Boys 11-15 <b>(Waiting List)</b> </td>
          <td>Sunday, 6:15 - 7:15 pm </td>
        </tr>

      </table>

    
  </div>

  <form id="payment-registration-form" action="" method="post">
    {% csrf_token %}
    {{ wizard.management_form }}
  
    <button class="btn btn-default pull-left"  name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">
      Back 
    </button>

    <div class="pull-right">
      <button class="btn btn-warning"  name="wizard_goto_step" type="submit" value="{{ wizard.steps.next }}">
        Make Payment 
      </button>
      <button class="btn btn-primary"  name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">
        Register another Student 
      </button>
    </div>
  </form>

</div>


{% endblock register_content %}