{% extends "registration/base_registration.html" %}

{% block register_content %}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="{% url 'school:courseregister' %}">Registration Form</a></li>
    <li role="presentation"><a href="{% url 'school:lkccourseregister' %}">LKC Registration Form</a></li>
</ul>

<div class="row">   
  <div class="col-lg-12">
      <h1 class="page-header">
          Registration<small> Registration Form</small>
      </h1>
      <ol class="breadcrumb">
          <li class="active">
              <i class="fa fa-sitemap"></i> <a> Registration > Registration Form</a>
          </li>
      </ol>
  </div>
</div>

<h3><small>1. Parent Info </small>&nbsp;2. Student Registration&nbsp;<small>3. Summary&nbsp;4. Payment </small></h3>

<div class="col-md-9" id="student-reg-form">

{% for field in wizard.form %}
  {% if field.errors %}
    {{ field.name }} {{ field.errors }}
  {% endif %}
{% endfor %}

<form id="student-registration-form" action="" method="post">
    {% csrf_token %}
    {{ wizard.management_form }}

  <div class="panel panel-default">
    <div class="panel-heading">Student Info</div>
    <div class="panel-body">

      <div class="form-group">
        <div class="form-inline">
          <label>Full Name:</label>
          {{ wizard.form.first_name }}
          {{ wizard.form.last_name }}
        </div>

        <label>Gender:</label>
        {% for g in  wizard.form.gender %}
          <label class="radio-inline">
          {{ g.tag }}
          {{ g.choice_label }}
          </label>
        {% endfor %}
      </div>

      <div class="form-group">
        <label>Address:</label>
        {{ wizard.form.address }}
      </div>

      <div class="form-group form-half-size">
        <label>Birth Date</label>
        {{ wizard.form.birthdate }}
      </div>

      <div class="form-group">
        <div class="form-half-size">
          <label>Home Phone</label>
          {{ wizard.form.home_phone }}
        </div>
        <div class="form-half-size">
          <label>Email address</label>
          {{ wizard.form.email }}
        </div>
      </div>
      <div class="form-group">
        <label>Allergies</label>
        {{ wizard.form.allergies }}
      </div>
      <div class="form-group">
        <label>Comments</label>
        {{ wizard.form.comments }}
      </div>
    </div>
  </div>



<!--   <div class="panel panel-default hidden" id="student-levels-div">
    <div class="panel-heading">Course History</div>
    <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Level</th>
                  <th>Comment</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sikh History</td>
                  <td>Level 1</td>
                  <td>Test needed</td>
                  <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                </tr>
                <tr>
                  <td>Gurmukhi/Santhiya</td>
                  <td> - </td>
                  <td> - </td>
                  <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                </tr>
                <tr>
                  <td>Gatka/Activity</td>
                  <td>Level 2</td>
                  <td> - </td>
                  <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                </tr>
                <tr>
                  <td>Tantee Saaj</td>
                  <td>Level 1</td>
                  <td> - </td>
                  <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                </tr>
                <tr>
                  <td>Tabla</td>
                  <td> - </td>
                  <td> - </td>
                  <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                </tr>
                <tr>
                  <td>Waja</td>
                  <td> - </td>
                  <td> - </td>
                  <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                </tr>
                <tr>
                  <td>Dastaar</td>
                  <td> Level 2 </td>
                  <td> - </td>
                  <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>

                </tr>
                <tr>
                  <td>Wrestling</td>
                  <td> - </td>
                  <td> - </td>
                  <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                </tr>
              </tbody>
          </table>
        </div>
    </div>
  </div> -->

  <div class="panel panel-default">
    <div class="panel-heading">Courses</div>
    <div class="panel-body courses-div">

      {% for field in form %}
        {% if "dept" in field.help_text %}
          <table class="table">
            <tr> 
              <td> <label> {{ field.name }} </label> </td>
              <td> {{ field }} </td>
            </tr>
          </table>
        {% endif %}
      {% endfor %}

       <!--  <div class="form-group">
          <div class="row">  
            <label class="checkbox-inline">
              Sikh History
               <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    ----- <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">-----</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sikh History Girls 7-10 SUN</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sikh History Boys 7-10 SUN</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sikh History Girls 11-13 SUN</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sikh History Girls 14-17 SUN</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sikh History Boys 11-15 SUN</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sikh History Boys 16+ SUN</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sikh History Girls 18+ SUN</a></li>
                  </ul>
                </div>
            </label>
            <label class="checkbox-inline">
              Dastaar        
              <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    ----- <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">-----</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Level 1 TUES/FRI</a></li>
                  </ul>
                </div>       
            </label>
            <label class="checkbox-inline">
              Gurmukhi/Santhiya
               <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    ----- <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">-----</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gurmukhi Beginner SAT/SUN</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gurmukhi Beginner Adult SAT/SUN</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gurmukhi Intermediate SAT/SUN</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gurmukhi Advanced SAT/SUN</a></li>
                  </ul>
                </div>
            </label>
          </div>
          <br>
          <div class="row">  
                  <label class="checkbox-inline">
                    Tabla
                     <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    ----- <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">-----</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tabla Level 1 (Boys) TUES/FRI</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tabla Level 2 (Boys) TUES/FRI</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tabla Level 3 (Boys) TUES/FRI</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tabla Level 1 (Girls) MON/THURS</a></li>
                  </ul>
          </div>
                  </label>
                  <label class="checkbox-inline">
                    Wrestling
                     <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        ----- <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">-----</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Wrestling Level 1 (Boys) TUES/FRI</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Wrestling Level 2 (Boys) TUES/FRI</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Wrestling Level 3 (Boys) TUES/FRI</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Wrestling Level 1 (Girls) MON/THURS</a></li>
                        </ul>
                      </div>
                  </label>
                  <label class="checkbox-inline">
                    Gatka/Activity
                     <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        ----- <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">-----</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gatka/Activity Level 1 (Boys) TUES/FRI</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gatka/Activity Level 2 (Boys) TUES/FRI</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gatka/Activity Level 3 (Boys) TUES/FRI</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gatka/Activity Level 1 (Girls) MON/THURS</a></li>
                        </ul>
                      </div>
                  </label>
                  <label class="checkbox-inline">
                    Waja
                     <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        ----- <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">-----</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Waja Level 1 (Boys) TUES/FRI</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Waja Level 2 (Boys) TUES/FRI</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Waja Level 3 (Boys) TUES/FRI</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Waja Level 1 (Girls) MON/THURS</a></li>
                        </ul>
                      </div>
                  </label>
          </div>
        </div> -->
    </div>
  </div>

  <button class="btn btn-primary pull-left" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">
          Back
  </button>
   <button type="button" id="open-confirm-register-btn" class="btn btn-primary pull-right" data-toggle="modal" data-target="#confirm-register-modal">
    Next
  </button>
  <br><br>
</form>

</div>

<!-- Modal -->
<div class="modal fade" id="confirm-register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <h4>Are you sure these courses are correct?</h4> 

        <ul id="class-confirmation-list">
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary pull-right" data-dismiss="modal" name="wizard_goto_step" id="student-register-btn" type="submit" value="submit">
          Register
        </button>
      </div>
    </div>
  </div>
</div>


{% endblock register_content %}