{% extends "registration/base_registration.html" %}

{% block register_content %}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="{% url 'school:courseregister' %}">Registration Form</a></li>
    <li role="presentation" class="active"><a href="{% url 'school:lkccourseregister' %}">LKC Registration Form</a></li>
</ul>

  <div class="row">   
    <div class="col-lg-12">
        <h1 class="page-header">
            Registration<small> Little Khalsa Club Registration Form</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-sitemap"></i> <a> Registration > LKC Registration Form</a>
            </li>
        </ol>

    </div>
  </div>

<h3>1.  Parent Info <small>&nbsp;2. Student Registration&nbsp;3. Summary&nbsp;4. Payment </small></h3>

<div class="col-md-9" id="student-reg-form">

<form>
  <div class="panel panel-default">
    <div class="panel-heading">Parent Info</div>
    <div class="panel-body">
       <div class="form-group">
        <label>Parent Name:</label>
          <span class="form-inline">
            <input type="text" class="form-control" id="parent-first-name" placeholder="First name">
            <input type="text" class="form-control" id="parent-last-name" placeholder="Last name">
            <span class="btn btn-default" id="search-parent-reg"><i class="fa fa-search"></i></span>
            <font size=1> *If already registered, click here to complete form automatically</font>
          </span>
        </div>

        <div class="form-group">
          <div class="form-half-size">
            <label for="exampleInputEmail1">Cell Phone</label>
            <input type="tel" class="form-control" id="parent-phone">
          </div>
          <div class="form-half-size">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="parent-email">
          </div>
        </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Emergency Contact Info</div>
    <div class="panel-body">
       <div class="form-group">
        <label>Name:</label>
          <span class="form-inline">
            <input type="text" class="form-control" id="emergency-first-name" placeholder="First name">
            <input type="text" class="form-control" id="emergency-last-name" placeholder="Last name">
          </span>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Relation</label>
          <input type="text" class="form-control" id="relation">
        </div>

        <div class="form-group">
          <div class="form-half-size">
            <label for="exampleInputEmail1">Cell Phone</label>
            <input type="tel" class="form-control" id="emergency-cell-phone">
          </div>
          <div class="form-half-size">
            <label for="exampleInputEmail1">Home Phone</label>
            <input type="tel" class="form-control" id="emergency-home-phone">
          </div>
        </div>
    </div>
  </div>

  <a class="btn btn-primary pull-right" href="{% url 'school:lkccourseregister' 2 %}">Next</a>
  <br><br>
</form>

</div>


{% endblock register_content %}