{% extends "admins/base_admin.html" %}

{% block current_tab %}
	"View"
{% endblock %}

{% block hacky_script %}
$('#edit-admin-btn').click(function() {
	var fields = $('td:nth-child(2)')
	$.each(fields, function(i,elm) { 
		$(elm).html("<input value=\"" + $(elm).text().trim() + "\"></input>") 
	})
});
{% endblock hacky_script %}

{% block admin_content %}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="{% url 'account:view_admins' %}">View Admins</a></li>
    <li role="presentation"><a href="{% url 'account:create_admin' %}">Add Admin</a></li>
</ul>

 <!-- Page Heading -->
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Admins <small>List</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i> <a> Admins > List</a>
                            </li>
                        </ol>

                    </div>

<div class="col-md-3 admin-list">

	<div class="filters-holder">
		<a class="btn btn-primary btn-sm" data-toggle="collapse" href="#filters" 
		aria-expanded="false" aria-controls="collapseExample">
	  	Filters
		</a>
		<div class="collapse" id="filters">
		  <div>
		    <input type="checkbox"> <label>Name</label> <input>
		    <br>
		    <input type="checkbox"> <label>Role</label> <input>
		    <br>
		    <input type="checkbox"> <label>Branch</label> <input>
		    <br>
		  </div>
		</div>
	</div>
<br><br>
	{% if admin_list %}
	<ul class="list-unstyled admin-list">
		{% for admin in admin_list %}
	  		<li>
	  		<a href="{% url 'account:view_admins' admin.id %}">
	  			 {{ admin.user.first_name }} {{ admin.user.last_name }}
	  		</a>
	  		</li>
	  	{% endfor %}
	</ul>

	{% else %}
		<div class="alert alert-info" role="alert">No admins have been added.</div>
	{% endif %}

</div>

<div class="col-md-9 admin-info">
	{% if admin %}
	<span>
		<h3> Admin Info </h3>
		<a href="#" id="edit-admin-btn" class="pull-right"> Edit </a>
	</span>
	<table class="table table-hover">
		<tr> 
			<td> ID: </td>
			<td> {{ admin.id }} </td>
		</tr>
		<tr> 
			<td> Name: </td>
			<td> 
				{{ admin.user.first_name}} 
				{{ admin.user.last_name }}
			</td>
		</tr>
		<tr> 
			<td> Type: </td>
			<td> 
				{{ admin.role}} 
			</td>
		</tr>
		<tr> 
			<td> Username: </td>
			<td> {{ admin.user.username }} </td>
		</tr>
		<tr> 
			<td> Email: </td>
			<td> {{ admin.user.email }} </td>
		</tr>
		<tr> 
			<td> Phone number: </td>
			<td> {{ admin.phone }} </td>
		</tr>
		<tr> 
			<td> School branch: </td>
			<td> {{ admin.school.title }} </td>
		</tr>

	</table>

	{% else %}
		<div class="alert alert-info" role="alert">
			Select an admin to view details.
		</div>
	{% endif %}
</div>

{% endblock admin_content %}