{%extends 'basetemplate.html'%}

{% block menu %}
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="{% url 'statistics_page' %}"><i class="fa fa-fw fa-bar-chart"></i>  Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-child"></i>  Students</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i>  Admin</a>
                    </li>
                    <li>
                        <a href="{% url 'teacherstable_page' %}"><i class="fa fa-users"></i>  Teachers</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-users"></i>  Parents</a>
                    </li>  
                    <li>
                        <a href="#"><i class="fa fa-table"></i>  Classes</a>
                    </li>              
                    <li>
                        <a href="#"><i class="fa fa-file-o"></i>  Reports</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-university"></i>  Schools</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-book"></i>  Courses</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope"></i>  Email</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-wrench"></i> Settings</a>
                    </li>
                </ul>
{% endblock %} 

{%block body%}

<ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a href="{% url 'statistics_page' %}">Statistics</a></li>
  <li role="presentation"><a href="{% url 'notifications_page' %}">Notifications</a></li>
  <li role="presentation" class="active"><a href="{% url 'classes_schedule_page' %}">Classes Schedule</a></li>
</ul>
                <!-- Page Heading -->
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Classes Schedule Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i> <a> [Website Path] > Dashboard > Classes Schedules</a>
                            </li>
                        </ol>

                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="panel panel-default" style="max-height: 330px; min-height: 100px;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-tachometer"></i>  Today's Classes</h3>
                            </div>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">100</span>
                                        <i class="fa fa-child"></i> Students
                                    </a>                                   
                                    <a href="#" class="list-group-item">
                                        <span class="badge">10</span>
                                        <i class="fa fa-users"></i> Teachers
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">5</span>
                                        <i class="fa fa-table"></i> Classes
                                    </a>


                                </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default" style="min-width: 600px; max-width: 600px;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Time</th>
                                        <th>Class Name</th>
                                        <th>Students</th>
                                        <th>Teachers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" style="width: 175px;">09:00 - 10:00</th>
                                        <td><a href="#">Class 1</a></td>
                                        <td>20</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 175px;">10:00 - 11:00</th>
                                        <td><a href="#">Class 2</a></td>
                                        <td>20</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 175px;">11:00 - 12:00 <span class="label label-info">Now</span></th>
                                        <td><a href="#">Class 3</a></td>
                                        <td>20</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 175px;">12:00 - 13:00</th>
                                        <td><a href="#">Class 4</a></td>
                                        <td>20</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 175px;">13:00 - 14:00</th>
                                        <td><a href="#">Class 5</a></td>
                                        <td>20</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

{%endblock%}
                <!-- /.row -->

 