{%extends 'basetemplate.html'%}

{% block menu %}
                <ul class="nav" id="side-menu">
                    <li class="active">
                        <a href="{% url 'statistics_page' %}"><i class="fa fa-fw fa-bar-chart"></i>  Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-child"></i>  Students</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i>  Admin</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-users"></i>  Teachers</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-users"></i>  Parents</a>
                    </li>  
                    <li>
                        <a href="#"><i class="fa fa-table"></i>  Classes</a>
                    </li>              
                    <li>
                        <a href="#"><i class="fa fa-file-o"></i>  Reports</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-calendar"></i>  Periods</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-university"></i>  Schools</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-book"></i>  Courses</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope"></i>  Email</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-wrench"></i> Settings</a>
                    </li>
                </ul>
                
{% endblock %}     
          
{%block body%}

<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a href="{% url 'statistics_page' %}">Statistics</a></li>
  <li role="presentation"><a href="{% url 'notifications_page' %}">Notifications</a></li>
  <li role="presentation"><a href="{% url 'classes_schedule_page' %}">Classes Schedule</a></li>
</ul>

                <!-- Page Heading -->
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i> <a> [Website Path] > Dashboard > Statistics</a>
                            </li>
                        </ol>

                    </div>
                </div>


                <!-- /.row -->

                <div class="row">

                    <div class="col-lg-4">
                        <div class="panel panel-default" style="max-height: 330px; min-height: 330px;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-tachometer"></i>  Usage</h3>
                            </div>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">1000</span>
                                        <i class="fa fa-child"></i> Students
                                    </a>                                   
                                    <a href="#" class="list-group-item">
                                        <span class="badge">4</span>
                                        <i class="fa fa-user"></i> Admins
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">100</span>
                                        <i class="fa fa-users"></i> Teachers
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">200</span>
                                        <i class="fa fa-table"></i> Classes
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">2</span>
                                        <i class="fa fa-calendar"></i> Periods
                                    </a>                                    
                                    <a href="#" class="list-group-item">
                                        <span class="badge">4</span>
                                        <i class="fa fa-university"></i> Schools
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">10</span>
                                        <i class="fa fa-book"></i> Courses
                                    </a>


                                </div>
                        </div>
                    </div>

                    <div class="col-lg-4">

                        <div class="panel panel-default" style="max-height: 330px; min-height: 330px;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Payments Panel</h3>
                            </div>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">5</span>
                                        <i class="fa fa-fw fa-user"></i> Students with payment not registered
                                    </a>

                                    <a href="#" class="list-group-item">
                                        <span class="badge">$ 2000,00</span>
                                        <i class="fa fa-calculator"></i> Total received
                                    </a>
                                </div>

                            <div class="panel-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Receipt #</th>
                                                <th>Date</th>
                                                <th>Amount (CAD)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>3326</td>
                                                <td>Feb 02, 2015</td>
                                                <td>$321.33</td>
                                            </tr>
                                            <tr>
                                                <td>3325</td>
                                                <td>Feb 02, 2015</td>
                                                <td>$234.34</td>
                                            </tr>
                                            <tr>
                                                <td>3324</td>
                                                <td>Feb 02, 2015</td>
                                                <td>$724.17</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default" style="max-height: 330px; min-height: 330px;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-plus-circle"></i> Insert new statistic</h3>
                            </div>
                            <div class="panel-body">

                                    <form class="form-horizontal" role="form">

                                      <div class="form-group">
                                        <label class="control-label col-sm-5" for="title">Title:</label>
                                        <div class="col-sm-7">
                                          <input type="title" class="form-control" id="title" placeholder="Enter statistics title">
                                        </div>
                                      </div>

                                      <div class="form-group">
                                        <label class="control-label col-sm-5" for="pwd">Horizontal axis:</label>
                                        <div class="col-sm-7"> 

                                                <div class="dropdown">
                                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="width: 170px; height: 30px">
                                                    Select data
                                                    <span class="caret"></span>
                                                  </button>
                                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Period</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">School</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Student Number</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>
                                                  </ul>
                                                </div>
                                        </div>
                                      </div>
                                      
                                      <div class="form-group">
                                        <label class="control-label col-sm-5" for="pwd">Vertical axis:</label>
                                        <div class="col-sm-7"> 

                                                <div class="dropdown">
                                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="width: 170px; height: 30px">
                                                    Select data
                                                    <span class="caret"></span>
                                                  </button>
                                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Period</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">School</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Student Number</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>
                                                  </ul>
                                                </div>
                                        </div>
                                      </div>

                                     <div class="form-group">
                                        <label class="control-label col-sm-5" for="pwd">Chart type:</label>
                                        <div class="col-sm-7"> 

                                                <div class="dropdown">
                                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="width: 170px; height: 30px">
                                                    Select type
                                                    <span class="caret"></span>
                                                  </button>
                                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pie</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bars</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Line</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>
                                                  </ul>
                                                </div>
                                        </div>
                                      </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-5" for="pwd">Visibility:</label>
                                        <div class="col-sm-7"> 

                                                <div class="dropdown">
                                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="width: 170px; height: 30px">
                                                    Select public
                                                    <span class="caret"></span>
                                                  </button>
                                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Only System Admins</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Admins</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Only Teachers</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...</a></li>
                                                  </ul>
                                                </div>
                                        </div>

                                      </div>

                                      <div class="form-group"> 
                                        <div class="col-sm-offset-4 col-sm-10">
                                          <button type="submit" class="btn btn-primary" style="width: 100px; height: 35px;">Create</button>
                                        </div>
                                      </div>

                                    </form>

                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.row -->



                <!-- /.row -->
                <div class="row">

                    <div class="col-lg-4">
                        <div class="panel panel-default" style="max-height: 400px; min-height: 400px;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bars"></i> Student Registration</h3>
                                <div class="text-right">
                                    <div class="row" style="margin-right: 1px;">
                                        <a href="#">View &nbsp</a>
                                        <a href="#">Filter &nbsp</a>
                                        <a href="#">Edit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <i class="fa fa-line-chart" style="font-size: 250px; margin-top: 20px; margin-left: 20px"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4"  style="max-height: 2; min-height: 2;" >
                        <div class="panel panel-default" style="max-height: 400px; min-height: 400px;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bars"></i> Student Performance</h3>
                                <div class="text-right">
                                    <div class="row" style="margin-right: 1px;">
                                        <a href="#">View &nbsp</a>
                                        <a href="#">Filter &nbsp</a>
                                        <a href="#">Edit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" style="max-height: 2; min-height: 2;" >
                                <i class="fa fa-pie-chart" style="font-size: 300px; margin-top: 20px; margin-left: 20px"></i>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="panel panel-default" style="max-height: 400px; min-height: 400px;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bars"></i> Students Failing Classes</h3>
                                <div class="text-right">
                                    <div class="row" style="margin-right: 1px;">
                                        <a href="#">View &nbsp</a>
                                        <a href="#">Filter &nbsp</a>
                                        <a href="#">Edit</a>
                                    </div>
                                </div>

                            </div> 
                            <div class="panel-body" >
                                <i class="fa fa-bar-chart" style="font-size: 250px; margin-top: 20px; margin-left: 20px"></i>
                            </div>
                        </div>
                    </div>

                </div>
{%endblock%}
                <!-- /.row -->

 