{% extends "basetemplate.html" %}

{% block javascript_block %}
<script>
    // date picker for the form 
    $(".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1980:" + new Date().getFullYear(),
    });

    {% block hacky_script %}
    {% endblock hacky_script %}

</script>
{% endblock %}

{%block head%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'main-style.css' %}" />
{% endblock %}


{% block body %}

{% block class_content %}
{% endblock class_content %}

{% endblock %}