{% extends "basetemplate.html" %}

{% block javascript_block %}
<script>
    // date picker for the form 
    $(".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1980:" + new Date().getFullYear(),
    });

    // autocomplete for add student
    var studentTags = [
    	{% for student in student_list %}
    		{'label': '{{ student.first_name }} {{ student.last_name }}',
    		'id': '{{ student.id }}' },
    	{% endfor %}
    ]; 

    var sel_student_id; // updated each time selected
    $('#search-student-input').autocomplete({
    	source: studentTags,
    	select: function(event, ui) {
    		sel_student_id = ui.item.id;
    	}
    });

    {% if class %}

    // send request to register the student
    $('#class-registration-form').submit(function() {
    	$.ajax({
			type: "POST",
			url: "{%url 'school:classregistration' class.id %}", 
			data: $(this).serialize()+'&student_id='+sel_student_id,
			contentType: 'application/x-www-form-urlencoded',
			success: function(data) {
				location.reload();
			},
			error: function(xhr) {
				$('#helper').html(xhr.responseText);
			}
    	});
    	return false;
    });

    // adds name to modal for confirming remove student registration
    $('#remove-student-modal').on('show.bs.modal', function (event) {
  		var button = $(event.relatedTarget) ;
  		var student_name = button.data('student-name');
  		var student_id = button.data('student-id');
		var modal = $(this);
		modal.find('.modal-body > span').html(student_name);
		modal.find('.modal-body > input').val(student_id);
	})

    // send request to remove student from class
	$('#remove-student-form').submit(function() {
    	$.ajax({
			type: "POST",
			url: "{%url 'school:classremovereg' class.id %}", 
			data: $(this).serialize(),
			contentType: 'application/x-www-form-urlencoded',
			success: function(data) {
				location.reload();
			},
			error: function(xhr) {
				$('#helper').html(xhr.responseText);
			}
    	});
    	return false;
    });

    {% endif %}

</script>
{% endblock %}

{%block head%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'main-style.css' %}" />
{% endblock %}


{% block body %}

{% block class_content %}
{% endblock class_content %}

{% endblock %}