{% extends "classes/base_class.html" %}

{% block current_tab %}
  "Create Class"
{% endblock %}


{% block class_content %}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="{%url 'school:classlist' %}">View Classes</a></li>
    <li role="presentation"><a href="{%url 'school:classcreate' %}">Add Class</a></li>
    <li role="presentation"><a href="{%url 'school:classregistration' %}">Class Registration</a></li>
    <li role="presentation"><a href="{%url 'school:classassignment' %}">Assignments</a></li>
    <li role="presentation" class="active"><a href="{%url 'school:classattendance' %}">Attendance</a></li>
    <li role="presentation"><a href="{%url 'school:classperformance' %}">Grading</a></li>
    <li role="presentation"><a href="{%url 'school:classreportcard' %}">Report Card</a></li>
</ul>

  <div class="row">  
                 <div class="col-lg-12">
                        <h1 class="page-header">
                            Classes<small> Attendance</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i> <a> Classes > Attendance</a>
                            </li>
                        </ol>

                    </div>


<div class="col-md-3">
{% if class_list %}
<div class="list-group">
    {% for class in class_list %}
        <a href="{% url 'school:classattendance' class.id %}" class="list-group-item">
           {{ class.course }} {{ class.section }}
        </a>
      {% endfor %}
</div>
{% else %}
    <div class="alert alert-info" role="alert">No classes have been added.</div>
{% endif %}
</div>
        <div class="col-md-8">

{% if class %}

<form role="form" action="{%url 'school:classattendance' class.id %}" method="post" enctype="multipart/form-data">

            <!-- Tab panes -->
    <div class="tab-pane fade in" id="Attendance">
        <div class='col-md-4'>
          <div class='row'>
            {% csrf_token %}
            {{ dateform }}
           <td><input type="submit" value="OK" name="_date"></td>   
          </div>
        </div>
        
    </div>


{% if date_value %}
    <div class="col-md-12">
        <h4>Class Attendance</h4>
        <div class="table-responsive">

    {% csrf_token %}
    {{ formset.management_form }}  

        <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                  
                   <th>Name</th>
                     <th>Attendance</th>
                     <th>Comments</th>
                   </thead>
    <tbody>    

     {% for form in formset %}

    <tr>
    {{form.id}}
    <td> {{ form.student }}</td>
    <td>
    <div class="input-group" style="width: 50px;">
    {{ form.attendance }}
    </div>
    </td>
    <td>
    <div class="input-group" style="width: 100px;">
    {{ form.comments }}
    </div>
    </td>
    <td>{{form.reg_class.as_hidden}}</td>
    </tr>
       
    {% endfor %}

        
</table>


<input type="submit" class="btn btn-primary pull-right" value="Save" name="_attendance"/>
     
</form>           
            </div>
            
        </div>
    </div>
</div>




  {%endif%}
  {% endif %}

{% endblock class_content %}