{% extends "classes/base_class.html" %}

{% block class_content %}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="{%url 'school:classlist' %}">View Classes</a></li>
    <li role="presentation"><a href="{%url 'school:classcreate' %}">Add Class</a></li>
    <li role="presentation" class="active"><a href="{%url 'school:classregistration' %}">Class Registration</a></li>
    <li role="presentation"><a href="{%url 'school:classassignment' %}">Assignments</a></li>
    <li role="presentation"><a href="{%url 'school:classattendance' %}">Attendance</a></li>
    <li role="presentation"><a href="{%url 'school:classperformance' %}">Grading</a></li>
    <li role="presentation"><a href="{%url 'school:classreportcard' %}">Report Card</a></li>
</ul>

<div class="row">  
	<div class="col-lg-12">
        <h1 class="page-header">
            Classes<small> Class Registration</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-sitemap"></i> <a> Classes > Class Registration</a>
            </li>
 		</ol>
 	</div>
</div>


<div class="col-md-3">
	<div class="list-group">
		{% for classinlist in class_list %}
			{% if class = classinlist %}
				<a href="{% url 'school:classregistration' classinlist.id %}" class="list-group-item active">
			{% else %}
	  			<a href="{% url 'school:classregistration' classinlist.id %}" class="list-group-item">
	  		{% endif %}

	    	{{ classinlist }}
	  			</a>
	  	{% endfor %}
	</div>
</div>

<div class="col-md-8">
	<div id="helper"></div>

	{% if class %}
	<div id="search-student-div">
		<h4> Register Students  in {{ class.course }} {{ class.section }}</h4>
		<form class="class-registration-form" method="post">
		{% csrf_token %}
	    <div class="input-group pull-left" >
	      <span class="input-group-btn" >
	        <button class="btn btn-success" id="add-student-btn" type="submit" value="submit">
	        	Add Student
	        </button>
	      </span>
	      <input class="form-control" id="search-student-input" placeholder="Search for student..." type="text">
	    </div>
	    </form>
	</div>

	<div class="col-md-12">
		<h5>Number of students: {{ class.enrolled_class.all|length }}</h5>
		<br>

		<h4>Registered Students:</h4>
			
		<div class="table-responsive">

		<table class="table table-bordred table-striped">
		<thead>
		  <tr>
		    <th>Student name</th>
		    <th>Remove</th>
		  </tr>
			</thead>
			<tbody>
				{% for reg in class.enrolled_class.all %}
					{% if reg.registration_status %}
				  	<tr>
					    <td><a href="{% url 'school:studentlist' reg.student.id %}">{{ reg.student }}</a></td>
					    <td>
					    	<button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" 
					    	data-target="#remove-student-modal" data-student-name="{{ reg.student }}"
					    	data-student-id="{{ reg.student.id }}">
					    	<span class="glyphicon glyphicon-trash"></span>
					    	</button>
					    </td>
				  	</tr>
				  	{% endif %}
			  	{% endfor %}
			</tbody>
		</table>
		</div> <!-- registered table div-->

  		<h4>Waiting List</h4>
		<div id="waiting-list">	
			<table class="table table-striped">
			<thead>
			  <tr>
			    <th>Student name</th>
			    <th>Add to Class</th>
			    <th>Remove</th>
			  </tr>
				</thead>
				<tbody>
					{% for reg in class.enrolled_class.all|dictsort:"date" %}
						{% if not reg.registration_status %}
					  	<tr>
						    <td><a href="{% url 'school:studentlist' reg.student.id%}">{{ reg.student }}</a></td>
						    <td>
						    	<form class="class-registration-form" method="post">
								{% csrf_token %}
						    	<button class="btn btn-success btn-xs register-waiting-btn" type="submit" value="submit" data-student-id="{{ reg.student.id }}">
						    	<span class="glyphicon glyphicon-plus"></span>
						    	</button>
						    	</form>
						    </td>
						    <td>
						    	<button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" 
						    	data-target="#remove-student-modal" data-student-name="{{ reg.student }}"
						    	data-student-id="{{ reg.student.id }}">
						    	<span class="glyphicon glyphicon-trash"></span>
						    	</button>
						    </td>
					  	</tr>
					  	{% endif %}
				  	{% endfor %}
				</tbody>
			</table>
		</div> <!-- wiaitng list table div-->

	</div>
	{% else %}
	<div class="alert alert-info" role="alert">
		Select a class to view registration details.
	</div>
	{% endif %}
</div> <!--  content div -->

<div class="modal fade" id="remove-student-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form id="remove-student-form" method="delete">
    	{% csrf_token %}
      <div class="modal-body">
       	Remove <span></span> from {{ class }}?
       	{{ remove_form }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <button type="submit" value="submit" class="btn btn-primary btn-sm">Remove</button>
      </div>
      </form>
    </div>
  </div>
</div>
</div>

{% endblock class_content %}