{% extends "classes/base_class.html" %}

{% block current_tab %}
	"Select"                
{% endblock %}

{% block class_content %}
{% if user_role == 'TEACHER' %}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="{%url 'school:classlist' %}">View Classes</a></li>
    <li role="presentation"><a href="{%url 'school:classassignment' %}">Assignments</a></li>
    <li role="presentation"><a href="{%url 'school:classattendance' %}">Attendance</a></li>
    <li role="presentation"><a href="{%url 'school:classperformance' %}">Grading</a></li>
    <li role="presentation"><a href="{%url 'school:classreportcard' %}">Report Card</a></li>
</ul>
{%else%}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="{%url 'school:classlist' %}">View Classes</a></li>
    <li role="presentation"><a href="{%url 'school:classcreate' %}">Add Class</a></li>
    <li role="presentation"><a href="{%url 'school:classregistration' %}">Class Registration</a></li>
    <li role="presentation"><a href="{%url 'school:classassignment' %}">Assignments</a></li>
    <li role="presentation"><a href="{%url 'school:classattendance' %}">Attendance</a></li>
    <li role="presentation"><a href="{%url 'school:classperformance' %}">Grading</a></li>
    <li role="presentation"><a href="{%url 'school:classreportcard' %}">Report Card</a></li>
</ul>
{%endif%}

  <div class="row">  
 <div class="col-lg-12">
        <h1 class="page-header">
            Classes<small> List</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-sitemap"></i> <a> Classes > List</a>
            </li>
        </ol>

    </div>

<div class="col-md-3 school-list">

	<div class="filters-holder">
		<a class="btn btn-primary btn-sm" data-toggle="collapse" href="#filters" 
		aria-expanded="false" aria-controls="collapseExample">
	  	Filters
		</a>
		<div class="collapse" id="filters">
			<form action="{%url 'school:classlist' %}" method="get">
		  	{{ class_filter.as_p }}
		  	<button class="btn btn-xs btn-default" type="submit" value="submit">
		  	Submit</button>
		  	</form>
		</div>
	</div>
<br><br>
	{% if class_list %}
	<ul class="list-unstyled school-list">
		{% for class in class_list %}
	  		<li>
	  		<a href="{% url 'school:classlist' class.id %}?{{request.GET.urlencode}}">
	  			 {{ class.course }} {{ class.section }}
	  		</a>
	  		</li>
	  	{% endfor %}
	</ul>

	{% else %}
		<div class="alert alert-info" role="alert">No classes have been added.</div>
	{% endif %}

</div>

<div class="col-md-9 school-info">
	{% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
	{% if class %}
	<span>
		<h3> Class Info </h3>
		{% if user_role != 'TEACHER' %}
			{%if not diff_period %} 
			<a href="" target-url="{% url 'school:classdelete' class.id %}" id="btn-delete" class="pull-right text-danger delete-link" data-toggle="modal" data-target="#delete-modal"> Delete </a>
			<a href="{%url 'school:classedit' class.id%}?{{request.GET.urlencode}}" id="edit-class-btn" class="pull-right"> Edit </a>
			{%else%} <h4>This class is from the period {{diff_period}}. Please go to that period if you wish to edit it.</h4>
			{%endif%}
		{% endif %}
	</span>
	<table class="table table-hover">
		<tr> 
			<td> Course: </td>
			<td> 
				<a href="{% url 'school:courselist' class.course.id %}"> 
					{{ class.course }} 
				</a>
			</td>
		</tr>
		<tr> 
			<td> Section: </td>
			<td> {{ class.section }} </td>
		</tr>
		<tr> 
			<td> Time: </td>
			<td> <strong>
				{% if class.schedule.monday %}
					Monday 
				{% endif %}
				{% if class.schedule.tuesday %}
					Tuesday 
				{% endif %}
				{% if class.schedule.wednesday %}
					Wednesday 
				{% endif %}
				{% if class.schedule.thursday %}
					Thursday 
				{% endif %}
				{% if class.schedule.friday %}
					Friday 
				{% endif %}
				{% if class.schedule.saturday %}
					Saturday 
				{% endif %}
				{% if class.schedule.sunday %}
					Sunday 
				{% endif %}
				</strong>

				{{ class.schedule.start_time }} -
				{{ class.schedule.end_time }}

			</td>
		</tr>
		<tr>
			<td> Teachers: </td>
			<td> 
				{{ class.classteacher.primary_teacher }}
				{%if class.classteacher.secondary_teacher != None %}, {{ class.classteacher.secondary_teacher }} {%endif%}
			</td>
		</tr>
		<tr> 
			<td> Class Size: </td>
			<td> {{ class.class_size }} </td>
		</tr>
		<tr>
			<td> Enrolled: </td>
			<td> {{ enrolled }} 
			({{ waiting }} on waiting list)
			</td>
		</tr>
		<tr> 
			<td> Description: </td>
			<td> {{ class.description }} </td>
		</tr>
	</table>

	{% if user_role != 'TEACHER' %}
		<a href="{% url 'school:classregistration' class.id %}"> 
		Edit Class Registration </a>
	{% endif %}

<div>
	<div class="col-md-6">
		<h5>Registered Students:</h5>

		<ul>
		{% for reg in class.enrolled_class.all %}
			{% if reg.registration_status %}
			<li> 
				<a href="{% url 'school:studentlist' reg.student.id %}">
					{{ reg.student.first_name }} {{ reg.student.last_name }} 
				</a>
			</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>

	<div class="col-md-6">
		<h5>Waiting List:</h5>

		<ol>
		{% for reg in class.enrolled_class.all|dictsort:"date" %}
			{% if not reg.registration_status %}
			<li> 
				<a href="{% url 'school:studentlist' reg.student.id %}">
					{{ reg.student.first_name }} {{ reg.student.last_name }} 
				{% endif %}
				</a>
			</li>
			{% endfor %}
		</ol>
	</div>
</div>
	


	{% elif error %}
		<div class="content alert alert-info" role="alert">
			{{error}}
		</div>
	{%else%}
		<div class="content alert alert-info" role="alert">
			Select a class to view details.
		</div>
	{% endif %}
</div>

{% endblock class_content %}