{% extends "classes/base_class.html" %}

{% block class_content %}

{% if user_role == 'TEACHER' %}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="{%url 'school:classlist' %}">View Classes</a></li>
    <li role="presentation" class="active"><a href="{%url 'school:classassignment' %}">Assignments</a></li>
    <li role="presentation"><a href="{%url 'school:classattendance' %}">Attendance</a></li>
    <li role="presentation"><a href="{%url 'school:classperformance' %}">Grading</a></li>
    <li role="presentation"><a href="{%url 'school:classreportcard' %}">Report Card</a></li>
</ul>
{%else%}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="{%url 'school:classlist' %}">View Classes</a></li>
    <li role="presentation"><a href="{%url 'school:classcreate' %}">Add Class</a></li>
    <li role="presentation"><a href="{%url 'school:classregistration' %}">Class Registration</a></li>
    <li role="presentation" class="active"><a href="{%url 'school:classassignment' %}">Assignments</a></li>
    <li role="presentation"><a href="{%url 'school:classattendance' %}">Attendance</a></li>
    <li role="presentation"><a href="{%url 'school:classperformance' %}">Grading</a></li>
    <li role="presentation"><a href="{%url 'school:classreportcard' %}">Report Card</a></li>
</ul>
{%endif%}
    <div class="row">  
                 <div class="col-lg-12">
                        <h1 class="page-header">
                            Classes<small> Assignments</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i> <a> Classes > Assignments</a>
                            </li>
                        </ol>

                    </div>


<div class="col-md-3">
{% if class_list %}
<div class="list-group">
    {% for class in class_list %}
        <a href="{% url 'school:classassignment' class.id %}" class="list-group-item">
           {{ class.course }} {{ class.section }}
        </a>
      {% endfor %}
</div>
{% else %}
    <div class="alert alert-info" role="alert">No classes have been added.</div>
{% endif %}
</div>

{% if class_id %}
<div class="col-md-8">

    {% if error %}
        <div class="panel panel-danger">
            {{ error }}
        </div>
    {% else %}

    <form role="form" action="{%url 'school:assignmentedit' class_id assignment_id%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-hover school-form">
        {{ assignment_form.as_table }}
        </table>
        <input class="btn btn-primary center-block" type="submit" value="Submit" />
    </form> 
    {%endif%}
</div>
            {%endif%}

{% endblock class_content %}