{% extends "classes/base_class.html" %}

{% block class_content %}
  <div class="row">  
                 <div class="col-lg-12">
                        <h1 class="page-header">
                            Classes<small> Assignment</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i> <a> [Website Path] > Classes > Assignment</a>
                            </li>
                        </ol>

                    </div>
                </div>

            <ul>
                <li>
                    <font size=5> Assigment 1 </font> 
                        <font size=5>
                            <button class = "glyphicon glyphicon-share"></button>
                            <button class = "glyphicon glyphicon-remove"></button>
                        </font>        
                </li>
                <li>
                    <font size=5> Assigment 2 </font> 
                        <font size=5>
                            <button class = "glyphicon glyphicon-share"></button>
                            <button class = "glyphicon glyphicon-remove"></button>
                        </font>        
                </li>
                <li>
                    <font size=5> Assigment 3 </font> 
                        <font size=5>
                            <button class = "glyphicon glyphicon-share"></button>
                            <button class = "glyphicon glyphicon-remove"></button>
                        </font>        
                </li>
                
                <p>
                <div class = "row">
                    <font size=5>
                        <button class = "glyphicon glyphicon-import"></button>
                    </font>
                </div>
                
            </ul> 
            
{% endblock class_content %}


