<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{%block title%}Aplus{%endblock%}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static '/static/css/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static '/static/css/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static '/static/css/timeline.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static '/static/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static '/static/css/plugins/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static '/static/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- JQuery UI CSS -->
    <link href="{% static '/static/css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static '/static/css/jquery-ui.structure.min.css' %}" rel="stylesheet">
    <link href="{% static '/static/css/jquery-ui.theme.min.css' %}" rel="stylesheet">

    {%block head%}
    {%endblock%}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
         <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'dashboard:statistics_page' %}"> <i class="fa fa-graduation-cap"></i> A<SUP>plus</SUP> </a>
            </div>

            <!-- Top Menu Items -->
           <ul class="nav navbar-top-links navbar-right">

            
            {% if user.userprofile.role == 'SYSTEM_ADMIN' %}
            <li class="dropdown">
                    <a href="#" id="current-school" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-university"></i> {{user.userprofile.school.title}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for school in school_list %}
                        {% if school != user.userprofile.school %}
                        <li>
                            <a href="{% url 'school:changeschool' school.id %}"> {{school.title}} </a>
                        </li>
                        <li class="divider"></li>
                        {% endif %}
                        {% endfor %}
                        <li>
                            <a href="{% url 'school:schoolcreate' %}">+ Create New School</a>
                        </li>
                    </ul>
                </li>
            
            {%endif%}


            {% if user.userprofile.role != 'TEACHER' %}

            {% if user.userprofile.school %}

                <li class="dropdown">
                    <a href="#" id="current-period" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar"></i> {{user.userprofile.period.description}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for period in period_list %}
                        {% if period != user.userprofile.period %}
                        <li>
                            <a href="{% url 'school:changeperiod' period.id %}"> {{period.description}} </a>
                        </li>
                        <li class="divider"></li>
                        {% endif %}
                        {% endfor %}
                        <li>
                            <a href="{% url 'school:periodcreate' %}">+ Create New Period</a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            {%endif%}

{% if user.is_authenticated %}

                <li>
                    <a href="{% url 'settings_page' %}"><i class="fa fa-user"></i> {{ user.first_name }}</a>
                </li>

{% endif %}
                <li>
                    <a href="{% url 'account:login_page' %}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>


            </ul>

{% if user.userprofile.role == 'TEACHER'%}
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{% url 'dashboard:classes_schedule_page' %}"><i class="fa fa-fw fa-bar-chart"></i>  Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'school:studentlist' %}"><i class="fa fa-child"></i>  Students</a>
                    </li>
                    <li>
                        <a href="{% url 'reports:view_reports' %}"><i class="fa fa-file-o"></i>  Reports</a>
                    </li>
                    <li>
                        <a href="{% url 'school:classlist' %}"><i class="fa fa-table"></i>  Classes</a>
                    </li>              
                    <li>
                        <a href="{% url 'messages:send_email' %}"><i class="fa fa-envelope"></i>  Email</a>
                    </li>
                    <li>
                        <a href="{% url 'settings_page' %}"><i class="fa fa-fw fa-wrench"></i> Settings</a>
                    </li>
                </ul>
                <div>
            <div>

{% else %}

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    
                <ul class="nav" id="side-menu">
            {% if user.userprofile.school %}
                {% if user.userprofile.period %}
                    <li>
                        <a href="{% url 'dashboard:statistics_page' %}"><i class="fa fa-fw fa-bar-chart"></i>  Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'school:courseregister' %}"><i class="fa fa-smile-o"></i>  Registration</a>
                    </li>
                    <li>
                        <a href="{% url 'school:studentlist' %}"><i class="fa fa-child"></i>  Students</a>
                    </li>
                    <li>
                        <a href="{% url 'account:view_admins' %}"><i class="fa fa-user"></i>  Administrators</a>
                    </li>
                    <li>
                        <a href="{% url 'account:view_teachers' %}"><i class="fa fa-users"></i>  Teachers</a>
                    </li>
                    <li>
                        <a href="{% url 'school:parentlist' %}"><i class="fa fa-users"></i>  Parents</a>
                    </li>  
                    <li>
                        <a href="{% url 'reports:view_reports' %}"><i class="fa fa-file-o"></i>  Reports</a>
                    </li>
                    <li>
                        <a href="{% url 'school:classlist' %}"><i class="fa fa-table"></i>  Classes</a>
                    </li>              
                    <li>
                        <a href="{% url 'school:courselist' %}"><i class="fa fa-book"></i>  Courses</a>
                    </li>
                    {% if user.userprofile.role == 'SYSTEM_ADMIN' %}
                    <li>
                        <a href="{% url 'school:schoollist' %}"><i class="fa fa-university"></i>  Schools</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'school:periodlist' %}"><i class="fa fa-calendar"></i>  Periods</a>
                    </li>
                    <li>
                        <a href="{% url 'messages:send_email' %}"><i class="fa fa-envelope"></i>  Email</a>
                    </li>
                    <li>
                        <a href="{% url 'settings_page' %}"><i class="fa fa-fw fa-wrench"></i> Settings</a>
                    </li>

                    {% else %}

                    <li class="disabled">
                        <a href=""><i class="fa fa-fw fa-bar-chart"></i>  Dashboard</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-smile-o"></i>  Registration</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-child"></i>  Students</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-user"></i>  Administrators</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-users"></i>  Teachers</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-users"></i>  Parents</a>
                    </li>  
                    <li class="disabled">
                        <a href=""><i class="fa fa-file-o"></i>  Reports</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-table"></i>  Classes</a>
                    </li>              
                    <li class="disabled">
                        <a href=""><i class="fa fa-book"></i>  Courses</a>
                    </li>
                    {% if user.userprofile.role == 'SYSTEM_ADMIN' %}
                    <li>
                        <a href="{% url 'school:schoollist' %}"><i class="fa fa-university"></i>  Schools</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'school:periodlist' %}"><i class="fa fa-calendar"></i>  Periods</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-envelope"></i>  Email</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-fw fa-wrench"></i> Settings</a>
                    </li>

                    {% endif %}

            {% else %}

                    <li class="disabled">
                        <a href=""><i class="fa fa-fw fa-bar-chart"></i>  Dashboard</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-smile-o"></i>  Registration</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-child"></i>  Students</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-user"></i>  Administrators</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-users"></i>  Teachers</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-users"></i>  Parents</a>
                    </li>  
                    <li class="disabled">
                        <a href=""><i class="fa fa-file-o"></i>  Reports</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-table"></i>  Classes</a>
                    </li>              
                    <li class="disabled">
                        <a href=""><i class="fa fa-book"></i>  Courses</a>
                    </li>
                    <li>
                        <a href="{% url 'school:schoollist' %}"><i class="fa fa-university"></i>  Schools</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-calendar"></i>  Periods</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-envelope"></i>  Email</a>
                    </li>
                    <li class="disabled">
                        <a href=""><i class="fa fa-fw fa-wrench"></i> Settings</a>
                    </li>

            {% endif %}

                </ul>

                </div>
            </div>

{%endif%}

            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper" style="min-height: 1000px;">

            <div class="container-fluid">

            {% block body %}
            
            {% endblock %}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- jQuery -->
    <script src="{% static '/static/js/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static '/static/css/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static '/static/css/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- PrintArea jQuery Plugin -->
    <script src="{% static '/static/js/jquery.PrintArea.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static '/static/js/sb-admin-2.js' %}"></script>

    <!-- jQuery UI -->
    <script src="{% static '/static/js/jquery-ui.min.js'%}"></script>

    <!-- TODO: remove, used for debugging only -->
    <script>
        $( ".datepicker" ).datepicker({
          changeMonth: true,
          changeYear: true,
          yearRange: "1980:" + new Date().getFullYear(),
        });
    </script>



    {% block javascript_block %}
    {% endblock %}

</body>

</html>
