{%extends 'basetemplate.html'%}
           
{%block body%}


                <!-- Page Heading -->
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Settings <small>Accounts Settings</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i> <a> Settings</a>
                            </li>
                        </ol>

                    </div>
                </div>


{% endblock %}
 