{% extends "basetemplate.html" %}

{% block javascript_block %}
<script>
    $("ul.nav-tabs>li").each(function(k, v) { 
        var tab = $(v);
        if (tab.text().includes(
                {% block current_tab %}
                {% endblock %}
            )) {
            tab.addClass("active");
        } else {
            tab.removeClass("active");
        }   
    }); 

    {% block hacky_script %}
    {% endblock hacky_script %}
</script>
{% endblock %}

{%block head%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'main-style.css' %}" />
{% endblock %}


{% block menu %}
<ul class="nav navbar-nav side-nav">
    <li>
        <a href="{% url 'statistics_page' %}">
        	<i class="fa fa-fw fa-bar-chart"></i>  Dashboard</a>
    </li>
    <li>
        <a href="{% url 'school:studentlist' %}">
        	<i class="fa fa-child"></i>  Students</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-user"></i>  Admin</a>
    </li>
    <li>
        <a href="{% url 'teacherstable_page' %}"><i class="fa fa-users"></i>  Teachers</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-users"></i>  Parents</a>
    </li>  
    <li>
        <a href="#"><i class="fa fa-table"></i>  Classes</a>
    </li>              
    <li>
        <a href="#"><i class="fa fa-file-o"></i>  Reports</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-calendar"></i>  Periods</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-university"></i>  Schools</a>
    </li>
    <li class="active">
        <a href="#"><i class="fa fa-book"></i>  Courses</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-envelope"></i>  Email</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-fw fa-wrench"></i> Settings</a>
    </li>
</ul>
{% endblock %} 

{% block body %}

<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active">
        <a href="{% url 'school:courselist' %}">View Courses</a>
    </li>
    <li role="presentation">
        <a href="{% url 'school:coursecreate' %}">Add Course</a>
    </li>
    <li role="presentation">
        <a href="{% url 'school:deptcreate' %}">Add Department</a>
    </li>
</ul>

{% block course_content %}
{% endblock course_content %}

{% endblock %}
