{% extends "courses/base_course.html" %}

{% block course_content %}

<ul class="nav nav-tabs nav-justified">
    <li role="presentation">
        <a href="{% url 'school:courselist' %}">View Courses</a>
    </li>
	<li role="presentation">
        <a href="{% url 'school:deptlist' %}">View Departments</a>
    </li>
    <li role="presentation">
        <a href="{% url 'school:coursecreate' %}">Add Course</a>
    </li>
    <li role="presentation">
        <a href="{% url 'school:deptcreate' %}">Add Department</a>
    </li>
    <li role="presentation" class="active">
        <a href="{% url 'school:courseassignment' %}">Assignments</a>
    </li>
</ul>

    <div class="row">  
                 <div class="col-lg-12">
                        <h1 class="page-header">
                            Courses<small> Assignments</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i> <a> Courses > Assignments</a>
                            </li>
                        </ol>

                    </div>


<div class="col-md-3">
{% if course_list %}
<div class="list-group">
    {% for course in course_list %}
        <a href="{% url 'school:courseassignment' course.id %}" class="list-group-item">
           {{ course.name }}
        </a>
      {% endfor %}
</div>
{% else %}
    <div class="alert alert-info" role="alert">No courses have been added.</div>
{% endif %}
</div>

{% if course %}
<div class="col-md-8">
    <h4>Add Assignment</h4>
    <br><br>   

    <form role="form" action="{%url 'school:courseassignment' course.id%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <table class="table table-hover school-form">
            {{ form.as_table }}
             </table>


            <input type="submit" class="btn btn-primary pull-right" value="Upload" />
</form> 

        <!-- <input type="submit" class="btn btn-default" value="Submit" /> -->
    </form> 


    <br><br><br>
    <h4>Course Assignments</h4>

        <div class="table-responsive">

<table id="mytable" class="table table-bordred table-striped">
    <thead>
      <tr>
        <th>Assignment</th>
        <th>Class</th>
        <th>Date</th>
        <th>Weigh</th>
        <th>Total</th>
        <th>Comments</th>
        <th>Delete</th>
        <th>Open</th>
      </tr>
    </thead>
    <tbody>
        {% for assignment in assignments %}
            <tr>
            <td>{{assignment.title}}</td>
            <td>{{course.name}} {{assignment.reg_class.section}}</td>
            <td>{{assignment.date}}</td>
            <td>{{assignment.grade_weight}}</td>
            <td>{{assignment.total_weight}}</td>
            <td>{{assignment.comments}}</td>
            <td>
                <p data-placement="top" data-toggle="tooltip" title="Delete">
                    <a href="" target-url="{% url 'school:courseassignmentdelete' course.id assignment.id %}" id="btn-delete"
                       class="btn btn-danger btn-xs delete-link" data-toggle="modal" data-target="#delete-modal">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </td>
            <td>
                {% if assignment.content %}
                <a target="_blank" href="{{assignment.content.url}}"><i class="fa fa-file-pdf-o"></i></a>
                {%endif%}
            </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

                
            </div>
            
        </div>
    </div>
</div>
            {%endif%}

{% endblock course_content %}


