{%extends 'basetemplate.html'%}

{%block body%}

<ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a href="{% url 'dashboard:statistics_page' %}">Statistics</a></li>
  <li role="presentation"><a href="{% url 'dashboard:notifications_page' %}">Notifications</a></li>
  <li role="presentation" class="active"><a href="{% url 'dashboard:classes_schedule_page' %}">Classes Schedule</a></li>
</ul>
                <!-- Page Heading -->
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Classes Schedule</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i><a> Dashboard > Classes Schedule </a>
                            </li>
                        </ol>

                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="panel panel-default" style="min-width: 800px; max-width: 800px;">
                        
                            <ul class="nav nav-pills" role="tablist">
                                {% if weekday == 'Sun' %}
                                    <li role="presentation" class="active">
                                {% else %}
                                    <li role="presentation">
                                {% endif %}
                                    <a href="?weekday=Sun">Sun</a></li>

                                {% if weekday == 'Mon' %}
                                    <li role="presentation" class="active">
                                {% else %}
                                    <li role="presentation">
                                {% endif %}
                                    <a href="?weekday=Mon">Mon</a></li>

                                {% if weekday == 'Tue' %}
                                    <li role="presentation" class="active">
                                {% else %}
                                    <li role="presentation">
                                {% endif %}
                                    <a href="?weekday=Tue">Tue</a></li>

                                {% if weekday == 'Wed' %}
                                    <li role="presentation" class="active">
                                {% else %}
                                    <li role="presentation">
                                {% endif %}
                                    <a href="?weekday=Wed">Wed</a></li>

                                {% if weekday == 'Thu' %}
                                    <li role="presentation" class="active">
                                {% else %}
                                    <li role="presentation">
                                {% endif %}
                                    <a href="?weekday=Thu">Thu</a></li>

                                {% if weekday == 'Fri' %}
                                    <li role="presentation" class="active">
                                {% else %}
                                    <li role="presentation">
                                {% endif %}
                                    <a href="?weekday=Fri">Fri</a></li>

                                {% if weekday == 'Sat' %}
                                    <li role="presentation" class="active">
                                {% else %}
                                    <li role="presentation">
                                {% endif %}
                                    <a href="?weekday=Sat">Sat</a></li>
                            </ul>
                                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Time</th>
                                        <th>Class Name</th>
                                        <th>Students</th>
                                        <th>Teachers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for class in schedule %}
                                        <tr>
                                            <th scope="row" style="width: 175px;">{{ class.0 }} - {{ class.1 }}</th>
                                            <td><a href="{% url 'school:classlist' class.5 %}">{{ class.2 }}</a></td>
                                            <td>{{ class.3 }}</td>
                                            <td>{{ class.4 }}</td>
                                        </tr>
                                    {% endfor %}
<!--                                     <tr>
                                        <th scope="row" style="width: 175px;">11:00 - 12:00 <span class="label label-info">Now</span></th>
                                        <td><a href="#">Class 3</a></td>
                                        <td>20</td>
                                        <td>2</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

{%endblock%}
                <!-- /.row -->

 