{%extends 'basetemplate.html'%}

{%block body%}

<ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a href="{% url 'dashboard:statistics_page' %}">Statistics</a></li>
  <li role="presentation"><a href="{% url 'dashboard:notifications_page' %}">Notifications</a></li>
  <li role="presentation" class="active"><a href="{% url 'dashboard:classes_schedule_page' %}">Classes Schedule</a></li>
</ul>
                <!-- Page Heading -->
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Classes Schedule</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i><a> Dashboard > Classes Schedule </a>
                            </li>
                        </ol>

                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="panel panel-default" style="min-width: 800px; max-width: 800px;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Time</th>
                                        <th>Class Name</th>
                                        <th>Students</th>
                                        <th>Teachers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" style="width: 175px;">09:00 - 10:00</th>
                                        <td><a href="#">Class 1</a></td>
                                        <td>20</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 175px;">10:00 - 11:00</th>
                                        <td><a href="#">Class 2</a></td>
                                        <td>20</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 175px;">11:00 - 12:00 <span class="label label-info">Now</span></th>
                                        <td><a href="#">Class 3</a></td>
                                        <td>20</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 175px;">12:00 - 13:00</th>
                                        <td><a href="#">Class 4</a></td>
                                        <td>20</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 175px;">13:00 - 14:00</th>
                                        <td><a href="#">Class 5</a></td>
                                        <td>20</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

{%endblock%}
                <!-- /.row -->

 