{%extends 'basetemplate.html'%}

{%block body%}

<ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a href="{% url 'dashboard:statistics_page' %}">Statistics</a></li>
  <li role="presentation" class="active"><a href="{% url 'dashboard:notifications_page' %}">Notifications</a></li>
  <li role="presentation"><a href="{% url 'dashboard:classes_schedule_page' %}">Classes Schedule</a></li>
</ul>
                <!-- Page Heading -->
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Notications</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i><a> Dashboard > Notifications</a>
                            </li>
                        </ol>

                    </div>
                </div>

				 <div class="body-top-bar">
    							<div class="centralize">
               			<div class="row">

               				<div class="col-lg-4">
	               				<ul class="nav nav-pills" role="tablist">
	               				  <li role="presentation"><a href="#">All <span class="badge">10</span></a></li>
													<li role="presentation" class="active"><a href="#">New<span class="badge">3</span></a></li>
												  <li role="presentation"><a href="#">Old <span class="badge">7</span></a></li>
												</ul>
											</div>

											<div class="row">

												<div class="col-lg-4">
													<a class="btn btn-default btn-sm" href="{% url 'dashboard:notifications_settings_page' %}" role="button">
														Notification Settings <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
													</a>
												  <button type="button" class="btn btn-default btn-sm" aria-label="Delete">
														Apply <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
													</button>
												</div>
											</div>
											<!-- /.row -->

										</div>
										<!-- /.row -->
									


										<br>

										<div class="row">
											<div class="col-lg-4">
												<div class="list-group" style="width: 600px;">

													<a href="#" class="list-group-item list-group-item-info">
												    <h4 class="list-group-item-heading">
												    	<div class="row">
												    		<div class="col-lg-4" style="width:425px;word-wrap:break-word;">
												    			<span class="label label-primary">Attendance</span> Student Name
												    		</div>
												    		<div class="row">
													    		<select class="btn btn-default dropdown-toggle" name="calledOption" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="width: 120px; height: 30px">
	                                  <option value="Not Called">Not Called</option>
	                                  <option value="Called">Called</option>
	                                </select>
													    		<button type="button" class="btn btn-default btn-sm" aria-label="Delete">
																	  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
																	</button>
												    		</div>
												    	</div>
												    </h4>
												    <p class="list-group-item-text" style="word-wrap:break-word;">Missed [determined number] of classes in a row</p>
												  </a>
												  <br>
												  <a href="#" class="list-group-item list-group-item-info">
												    <h4 class="list-group-item-heading">
												    	<div class="row">
												    		<div class="col-lg-4" style="width:425px;word-wrap:break-word;">
												    			<span class="label label-primary">Performance</span> Student Name
												    		</div>
												    		<div class="row">
													    		<select class="btn btn-default dropdown-toggle" name="calledOption" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="width: 120px; height: 30px">
	                                  <option value="Not Called">Not Called</option>
	                                  <option value="Called">Called</option>
	                                </select>
													    		<button type="button" class="btn btn-default btn-sm" aria-label="Delete">
																	  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
																	</button>
												    		</div>
												    	</div>
												    </h4>
												    <p class="list-group-item-text" style="word-wrap:break-word;">Performance lowest than [determined]% </p>
												  </a>
												  <br>
												  <a href="#" class="list-group-item list-group-item-info">
												    <h4 class="list-group-item-heading">
												    	<div class="row">
												    		<div class="col-lg-4" style="width:425px;word-wrap:break-word;">
												    			<span class="label label-primary">Assignment</span> Student Name
												    		</div>
												    		<div class="row">
													    		<select class="btn btn-default dropdown-toggle" name="calledOption" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="width: 120px; height: 30px">
	                                  <option value="Not Called">Not Called</option>
	                                  <option value="Called">Called</option>
	                                </select>
													    		<button type="button" class="btn btn-default btn-sm" aria-label="Delete">
																	  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
																	</button>
												    		</div>
												    	</div>
												    </h4>
												    <p class="list-group-item-text" style="word-wrap:break-word;">Do not delivered [assignment] for [classname]</p>
												  </a>
												  
												</div>
											</div>
										</div>
										<!-- /.row -->

										<div class="row">
											<div class="col-lg-4">
												<nav>
												  <ul class="pagination">
												    <li>
												      <a href="#" aria-label="Previous">
												        <span aria-hidden="t-rue">&laquo;</span>
												      </a>
												    </li>
												    <li class="active"><a href="#">1</a></li>
												    <li><a href="#">2</a></li>
												    <li><a href="#">3</a></li>
												    <li><a href="#">4</a></li>
												    <li><a href="#">5</a></li>
												    <li>
												      <a href="#" aria-label="Next">
												        <span aria-hidden="true">&raquo;</span>
												      </a>
												    </li>
												  </ul>
												</nav>
	             			</div>
	             			<!-- /.row -->
             			</div>
               	</div>

{%endblock%}
                <!-- /.row -->

 