{%extends 'basetemplate.html'%}

{%block body%}
 {% if user_role == 'TEACHER' %}
 <ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a href="{% url 'dashboard:classes_schedule_page' %}">Classes Schedule</a></li>
  <li role="presentation"><a href="{% url 'dashboard:notifications_page' %}">Notifications</a></li>
</ul>
 {%else%}
<ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a href="{% url 'dashboard:statistics_page' %}">Statistics</a></li>
  <li role="presentation" class="active"><a href="{% url 'dashboard:notifications_settings_page' %}">Notifications Settings</a></li>
  <li role="presentation"><a href="{% url 'dashboard:classes_schedule_page' %}">Classes Schedule</a></li>
</ul>

                <!-- Page Heading -->
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Notications Settings</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i><a> Dashboard > Notifications > Notifications Settings</a>
                            </li>
                        </ol>

                    </div>
                </div>

                <div class="body-top-bar">
    							<div class="centralize">
    								<form class="form-horizontal" role="form" action="{% url 'dashboard:notifications_settings_page' %}" method="post">
                  	{% csrf_token %}
	               			<div class="row">

	               				<div class="col-lg-4" style="width:600px;">
		               				{% if success != NULL %}
		                            <div class="alert alert-success" role="alert">{{ success }}</div>
			                        {% endif %}
			                        {% if error != NULL %}
			                            <div class="alert alert-danger" role="alert">{{ error }}</div>
			                        {% endif %}
		               				<br>
		               				Automatically send these alerts if the conditions are met:

									<label for="applyButton" class="btn btn-default btn-sm pull-right">Apply <i class="glyphicon glyphicon-ok"></i></label>
									<input id="applyButton" type="submit" class="hidden">
	
								</div>

											</div>
											<br>
											<!-- /.row -->


											<div class="row">
												<div class="col-lg-4">
													<div class="list-group" style="width: 600px;">
														{{ formset.management_form }}

													  <div class="list-group-item list-group-item-info form-group">
													    <h4 class="list-group-item-heading">
													    		<div style="width:550px;">
														    		Attendance <br><br>
													    		</div>
													    </h4>
													    <p>
													    	<div class="col-lg-4">
													    		<div class="form-group">
													          <div class="input-group" style="width: 150px;">
													           	<span class="input-group-addon">Missed</span>
												   	          {{ formset.0.condition }}
												   	          <span class="input-group-addon"> day(s) in a row</span>
													          </div>
																  </div>
																</div>
													    	<div class="input-group" style="width: 550px;">
																	{{ formset.0.content }}
																</div>
																{% for hidden in formset.0.hidden_fields %}
														    	{{ hidden }}
														    {% endfor %}
															</p>
													  </div>
													  <br>

													  <div class="list-group-item list-group-item-info form-group">
													    <h4 class="list-group-item-heading">
													    		<div style="width:550px;">
														    		Performance <br><br>
													    		</div>
													    </h4>
													    <p>
													    	<div class="col-lg-4">
													    		<div class="form-group">
													          <div class="input-group" style="width: 120px;">
													           	<span class="input-group-addon">Average grade less than </span>
												   	          {{ formset.1.condition }}
												   	          <span class="input-group-addon"> %</span>
													          </div>
																  </div>
																</div>
													    	<div class="input-group" style="width: 550px;">
																	{{ formset.1.content }}
																</div>
																{% for hidden in formset.1.hidden_fields %}
														    	{{ hidden }}
														    {% endfor %}
															</p>
													  </div>
													  <br>

<!-- 													  <div class="list-group-item list-group-item-info form-group">
													    <h4 class="list-group-item-heading">
													    		<div style="width:550px;">
														    		Assignment <br><br>
													    		</div>
													    </h4>
													    <p>
													    	<div class="col-lg-4">
													    		<div class="form-group">
													          <div class="input-group" style="width: 130px;">
													           	<span class="input-group-addon">Missed </span>
												   	          {{ formset.2.condition }}
												   	          <span class="input-group-addon"> assignments</span>
													          </div>
																  </div>
																</div>
													    	<div class="input-group" style="width: 550px;">
																	{{ formset.2.content }}
																</div>
																{% for hidden in formset.2.hidden_fields %}
														    	{{ hidden }}
														    {% endfor %}
															</p>
													  </div>
													  <br> -->

													</div>
												</div>
											</div>
											<!-- /.row -->
										</form>
             			</div>
               	</div>

{%endif%}
{%endblock%}
                <!-- /.row -->

 