{%extends 'basetemplate.html'%}

{%block body%}

<ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a href="{% url 'dashboard:statistics_page' %}">Statistics</a></li>
  <li role="presentation" class="active"><a href="{% url 'dashboard:notifications_page' %}">Notifications</a></li>
  <li role="presentation"><a href="{% url 'dashboard:classes_schedule_page' %}">Classes Schedule</a></li>
</ul>
                <!-- Page Heading -->
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Notications Settings</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i><a> Dashboard > Notifications > Notifications Settings</a>
                            </li>
                        </ol>

                    </div>
                </div>

                <div class="body-top-bar">
    							<div class="centralize">
               			<div class="row">

               				<div class="col-lg-4" style="width:450px;">
	               				Automatically send these alerts if the conditions are met:

										</div>
											<div class="row">

												<div class="col-lg-4">
													<a class="btn btn-default btn-sm" href="{% url 'dashboard:notifications_page' %}" role="button">
														Inbox <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
													</a>
												  <button type="button" class="btn btn-default btn-sm" aria-label="Delete">
														Apply <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
													</button>
												</div>

											</div>
											<!-- /.row -->

										</div>
										<br>
										<!-- /.row -->


										<div class="row">
											<div class="col-lg-4">
												<div class="list-group" style="width: 600px;">
												 
												  <a href="#" class="list-group-item list-group-item-info">
												    <h4 class="list-group-item-heading">
												    	<div class="row">
												    		<div class="col-lg-4" style="width:550px;">
												    			<form class="form-inline">
													    			Attendance <br><br>

						

																		<select class="btn btn-default dropdown-toggle" name="cond" type="button" id="conditionOption" data-toggle="dropdown" aria-expanded="true" style="width: 60px; height: 30px">
			                                <option value="greaterThan">&#x3C;</option>
			                                <option value="lessThan">&#x3E;</option>
			                              </select>

			                              <div class="input-group" style="width: 60px;">
																			<input type="text" class="form-control" placeholder="days" aria-describedby="conditionOption">
																		</div>
																	</form>
												    		</div>
													    	<button type="button" class="btn btn-default btn-sm" aria-label="Delete">
																  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
																</button>
												    	</div>
												    </h4>
												    <p>
												    	<div class="input-group" style="width: 550px;">
																<input type="text" class="form-control" placeholder="Missed 5 classes in a row">
															</div>
														</p>
												  </a>
												  <br>

												  <a href="#" class="list-group-item list-group-item-info">
												    <h4 class="list-group-item-heading">
												    	<div class="row">
												    		<div class="col-lg-4" style="width:550px;">
												    			<form class="form-inline">
													    			Performance <br><br>
													

																		<select class="btn btn-default dropdown-toggle" name="cond" type="button" id="conditionOption" data-toggle="dropdown" aria-expanded="true" style="width: 60px; height: 30px">
			                                <option value="greaterThan">&#x3C;</option>
			                                <option value="lessThan">&#x3E;</option>
			                              </select>

			                              <div class="input-group" style="width: 60px;">
																			<input type="text" class="form-control" placeholder="%" aria-describedby="conditionOption">
																		</div>
																	</form>
												    		</div>
													    	<button type="button" class="btn btn-default btn-sm" aria-label="Delete">
																  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
																</button>
												    	</div>
												    </h4>
												    <p>
												    	<div class="input-group" style="width: 550px;">
																<input type="text" class="form-control" placeholder="Performance lowest than 50%">
															</div>
														</p>
												  </a>

										<br>

												  <a href="#" class="list-group-item list-group-item-info">
												    <h4 class="list-group-item-heading">
												    	<div class="row">
												    		<div class="col-lg-4" style="width:550px;">
												    			<form class="form-inline">
													    			Assignment <br><br>

																		<select class="btn btn-default dropdown-toggle" name="cond" type="button" id="conditionOption" data-toggle="dropdown" aria-expanded="true" style="width: 60px; height: 30px">
			                                <option value="greaterThan">&#x3C;</option>
			                                <option value="lessThan">&#x3E;</option>
			                              </select>

			                              <div class="input-group" style="width: 60px;">
																			<input type="text" class="form-control" placeholder="qtd" aria-describedby="conditionOption">
																		</div>
																	</form>
												    		</div>
													    	<button type="button" class="btn btn-default btn-sm" aria-label="Delete">
																  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
																</button>
												    	</div>
												    </h4>
												    <p>
												    	<div class="input-group" style="width: 550px;">
																<input type="text" class="form-control" placeholder="Do not delivered 2 assignments">
															</div>
														</p>
												  </a>

												</div>
											</div>
										</div>



										<div class="row">
											<div class="col-lg-4">
												<nav>
												  <ul class="pagination">
												    <li>
												      <a href="#" aria-label="Previous">
												        <span aria-hidden="t-rue">&laquo;</span>
												      </a>
												    </li>
												    <li class="active"><a href="#">1</a></li>
												    <li><a href="#">2</a></li>
												    <li><a href="#">3</a></li>
												    <li><a href="#">4</a></li>
												    <li><a href="#">5</a></li>
												    <li>
												      <a href="#" aria-label="Next">
												        <span aria-hidden="true">&raquo;</span>
												      </a>
												    </li>
												  </ul>
												</nav>
	             			</div>
	             			<!-- /.row -->
             			</div>
               	</div>

{%endblock%}
                <!-- /.row -->

 