{%extends 'basetemplate.html'%}

{%block body%}

 <ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a href="{% url 'dashboard:classes_schedule_page' %}">Classes Schedule</a></li>
  <li role="presentation" class="active"><a href="{% url 'dashboard:notifications_page' %}">Notifications</a></li>
</ul>

                <!-- Page Heading -->
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Notications</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i><a> Dashboard > Notifications</a>
                            </li>
                        </ol>

                    </div>
                </div>

				 <div class="body-top-bar">
    							<div class="centralize">
    								<form class="form-horizontal" role="form" action="{% url 'dashboard:notifications_page' %}" method="post">
                  	{% csrf_token %}
               			<div class="row">

               				<div class="col-lg-4">
	               				<ul class="nav nav-pills" role="tablist">
	               					{% if filter != '1' and filter != '2'%}
	               						<li role="presentation" class="active">
													{% else %}
														<li role="presentation">
													{% endif %}
	               				  	<a href="{% url 'dashboard:notifications_page' %}">All <span class="badge">{{ numAll }}</span></a></li>

	               				  {% if filter == '1' %}
														<li role="presentation" class="active">
													{% else %}
														<li role="presentation">
													{% endif %}
														<a href="?filter=1">New<span class="badge">{{ numNew }}</span></a></li>
													
													{% if filter == '2' %}
														<li role="presentation" class="active">
													{% else %}
														<li role="presentation">
													{% endif %}
												  	<a href="?filter=2">Old <span class="badge">{{ numOld }}</span></a></li>
												</ul>
											</div>

											<!-- <div class="row">

												<div class="col-lg-4">
												  <label for="applyButton" class="btn btn-default btn-sm">Apply <i class="glyphicon glyphicon-ok"></i></label>
													<input id="applyButton" type="submit" class="hidden">
												</div>
											</div> -->
											<!-- /.row -->

										</div>
										<!-- /.row -->
										
									


										<br>

										<div class="row">
											<div class="col-lg-4">
												<div class="list-group" style="width: 600px; max-height: 300px; overflow-y: scroll; overflow-x: hidden;">
													{% for notification in notifications %}
														<div class="list-group-item list-group-item-info">
													    <h4 class="list-group-item-heading">
													    	<div class="row">
													    		<div class="col-lg-4" style="width:410px;word-wrap:break-word;">
													    			<span class="label label-primary">{{ notification.1.notification_type }}</span> 
													    			{{ notification.0.classs }}:
													    			{{ notification.2.first_name }} {{ notification.2.last_name }}
													    		</div>
													    		<div class="row">
														    		<select class="btn btn-default dropdown-toggle" name="{{ notification.0.id }}" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="width: 120px; height: 30px">
														    			{% if notification.0.status %}
			                                  <option value="Called">Called</option>
			                                  <option value="Not Called">Not Called</option>
			                                {% else %}
			                                  <option value="Not Called">Not Called</option>
			                                  <option value="Called">Called</option>
			                                {% endif %}
		                                </select>
														    		<button type="button" class="btn btn-default btn-sm" aria-label="Delete">
																		  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
																		</button>
													    		</div>
													    	</div>
													    </h4>
													    <p class="list-group-item-text" style="word-wrap:break-word;">{{ notification.1.content }}</p>
													  </div>
													  <br>
												  {% endfor %}
												</div>
											</div>
										</div>
										<!-- /.row -->

<!-- 										<div class="row">
											<div class="col-lg-4">
												<nav>
												  <ul class="pagination">
												    <li>
												      <a href="#" aria-label="Previous">
												        <span aria-hidden="t-rue">&laquo;</span>
												      </a>
												    </li>
												    {% for i in pages %}
															<li><a href="?currentPage={{ i }}">{{ i }}</a></li>
												    {% endfor %}
												    <li>
												      <a href="#" aria-label="Next">
												        <span aria-hidden="true">&raquo;</span>
												      </a>
												    </li>
												  </ul>
												</nav>
	             			</div> -->
	             			<!-- /.row -->
	             			</form>
             			</div>
               	</div>

{%endblock%}
                <!-- /.row -->

 