{%extends 'basetemplate.html'%}
{% load googlecharts %}  
          
{%block body%}

 {% if user.userprofile.role == 'TEACHER' %}
 <ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a href="{% url 'dashboard:classes_schedule_page' %}">Classes Schedule</a></li>
  <li role="presentation"><a href="{% url 'dashboard:notifications_page' %}">Notifications</a></li>
</ul>
 {%else%}
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a href="{% url 'dashboard:statistics_page' %}">Statistics</a></li>
  <li role="presentation"><a href="{% url 'dashboard:notifications_settings_page' %}">Notifications Settings</a></li>
  <li role="presentation"><a href="{% url 'dashboard:classes_schedule_page' %}">Classes Schedule</a></li>
</ul>


                <!-- Page Heading -->
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i> <a>Dashboard > Statistics</a>
                            </li>
                        </ol>
                        {% if createdCustom == 1 %}
                            <div class="alert alert-success" role="alert">New custom statistic added.</div>
                        {% endif %}
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">

                    <div class="col-lg-4">
                        <div class="panel panel-default" style="max-height: 330px; min-height: 330px;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-tachometer"></i>  Usage</h3>
                            </div>
                                <div class="list-group">
                                    <a href="{% url 'school:studentlist' %}" class="list-group-item">
                                        <span class="badge">{{ usage.0 }}</span>
                                        <i class="fa fa-child"></i> Students
                                    </a>                                   
                                    <a href="{% url 'account:view_admins' %}" class="list-group-item">
                                        <span class="badge">{{ usage.1 }}</span>
                                        <i class="fa fa-user"></i> Admins
                                    </a>
                                    <a href="{% url 'account:view_teachers' %}" class="list-group-item">
                                        <span class="badge">{{ usage.2 }}</span>
                                        <i class="fa fa-users"></i> Teachers
                                    </a>
                                    <a href="{% url 'school:classlist' %}" class="list-group-item">
                                        <span class="badge">{{ usage.3 }}</span>
                                        <i class="fa fa-table"></i> Classes
                                    </a>
                                    <a href="{% url 'school:courselist' %}" class="list-group-item">
                                        <span class="badge">{{ usage.4 }}</span>
                                        <i class="fa fa-book"></i> Courses
                                    </a>
                                    <a href="{% url 'school:periodlist' %}" class="list-group-item">
                                        <span class="badge">{{ usage.5 }}</span>
                                        <i class="fa fa-calendar"></i> Periods
                                    </a>                                    
                                    <a href="{% url 'school:schoollist' %}" class="list-group-item">
                                        <span class="badge">{{ usage.6 }}</span>
                                        <i class="fa fa-university"></i> Schools
                                    </a>


                                </div>
                        </div>
                    </div>

                    <div class="col-lg-4">

                        <div class="panel panel-default" style="max-height: 330px; min-height: 330px;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Payments Panel</h3>
                            </div>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">{{ payments.0 }}</span>
                                        <i class="fa fa-fw fa-user"></i> Students with payment not registered
                                    </a>

                                    <a href="#" class="list-group-item">
                                        <span class="badge">$ {{ payments.1 }}</span>
                                        <i class="fa fa-calculator"></i> Total received
                                    </a>
                                </div>

                            <div class="panel-body">


                                <div class="table-responsive" style="max-height: 140px; overflow-y: scroll;">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Receipt #</th>
                                                <th>Date</th>
                                                <th>Amount (CAD)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for receipt in payments.2 %}
                                                <tr>
                                                    <td><a href="{% url 'school:parentlist' receipt.parent_id %}">{{ receipt.receipt_no }}</a></td>
                                                    <td>{{ receipt.date }}</td>
                                                    <td>$ {{ receipt.amount }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default" style="max-height: 330px; min-height: 330px;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-plus-circle"></i> Insert new statistic</h3>
                            </div>
                            <div class="panel-body">

                                <form class="form-horizontal" role="form" action="{% url 'dashboard:statistics_page' %}" method="post">
                                {% csrf_token %}

                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-sm-5" for="title">Title:</label>
                                        <div class="col-sm-7">
                                            <input type="title" class="form-control" id="title" name="title" placeholder="Enter statistics title">
                                        </div>
                                    </div>

                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-sm-5" for="xAxis" style="height: 30px;">Independent Variable:</label>
                                        <div class="col-sm-7"> 

                                            <div class="dropdown">
                                                <select class="btn btn-default dropdown-toggle" id="xAxis" name="xAxis" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="width: 150px; height: 30px">
                                                    {% for option in xAxisOptions %}
                                                        <option value="{{ option.0 }}">{{ option.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                          
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-sm-5" for="yAxis" style="height: 30px;">Dependent Variable:</label>
                                        <div class="col-sm-7"> 

                                            <div class="dropdown">
                                                <select class="btn btn-default dropdown-toggle" id="yAxis" name="yAxis" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="width: 150px; height: 30px"> 
                                                    {% for option in yAxisOptions %}
                                                        <option value="{{ option.0 }}">{{ option.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-sm-5" for="chartType">Chart Type:</label>
                                        <div class="col-sm-7"> 

                                            <div class="dropdown">
                                                <select class="btn btn-default dropdown-toggle" id="chartType" name="chartType" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="width: 150px; height: 30px">
                                                    {% for option in chartTypeOptions %}
                                                        <option value="{{ option.0 }}">{{ option.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-5" for="visibility">Visibility:</label>
                                        <div class="col-sm-7"> 

                                            <div class="dropdown">
                                                <select class="btn btn-default dropdown-toggle" id="visibility" name="visibility" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="width: 150px; height: 30px">
                                                    {% for option in visibilityOptions %}
                                                        <option value="{{ option.0 }}">{{ option.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group"> 
                                        <div class="col-sm-offset-4 col-sm-10">
                                            <input type="submit" class="btn btn-primary" style="width: 100px; height: 35px;" value="Create">
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.row -->


                <div class="row">

                    <div class="col-lg-4">
                        <div class="panel panel-default" style="max-height: 400px; min-height: 400px;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bars"></i> Student Registration</h3>
                                <div class="text-right">
                                    <div class="row" style="margin-right: 1px;">
                                        <a href="#">View &nbsp</a>
                                        <a href="#">Edit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="reg_chart_div" style="width: 299px; height: 299px;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4"  style="max-height: 2; min-height: 2;" >
                        <div class="panel panel-default" style="max-height: 400px; min-height: 400px;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bars"></i> Student Performance</h3>
                                <div class="text-right">
                                     <div class="row" style="margin-right: 1px;">
                                        <a href="#">View &nbsp</a>
                                        <a href="#">Edit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" style="max-height: 2; min-height: 2;" >
                                <div id="performance_chart_div" style="width: 299px; height: 299px;"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="panel panel-default" style="max-height: 400px; min-height: 400px;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bars"></i> Passing/Failing Students</h3>
                                <div class="text-right">
                                     <div class="row" style="margin-right: 1px;">
                                        <a href="#">View &nbsp</a>
                                        <a href="#">Edit</a>
                                    </div>
                                </div>
                            </div> 
                            <div class="panel-body" >
                                <div id="passFail_chart_div" style="width: 299px; height: 299px;"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->

                {% for triplet in customChartsTriplets %}
                <div class="row">

                    {% for chart in triplet %}
                        <div class="col-lg-4">
                            <div class="panel panel-default" style="max-height: 400px; min-height: 400px;">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bars"></i> {{ chart.0.title }}</h3>
                                    <div class="text-right">
                                        <div class="row" style="margin-right: 1px;">
                                            <a href="#">View &nbsp</a>
                                            <a href="#">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                {{ chart.1 }}
                                <div class="panel-body">
                                    <div id="{{forloop.counter}}_chart_div" style="width: 299px; height: 299px;"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <!-- /.row -->
                {% endfor %}

{% googlecharts %}
    {% data registrationChart "regData" %}
        {% col "string" "Period" %}"{{ val }}"{% endcol %}
        {% col "number" "Students" %}{{ val }}{% endcol %}
    {% enddata %}

    {% options "regOptions" %}
        kind: "LineChart"
    {% endoptions %}
    {% graph "reg_chart_div" "regData" "regOptions" %}

    {% data performanceChart "performanceData" %}
        {% col "string" "Grade (%)" %}"{{ val }}"{% endcol %}
        {% col "number" "Students" %}{{ val }}{% endcol %}
    {% enddata %}

    {% options "performanceOptions" %}
        kind: "LineChart"
    {% endoptions %}
    {% graph "performance_chart_div" "performanceData" "performanceOptions" %}

    {% data passFailChart "passFailData" %}
        {% col "string" "Pass/Fail" %}"{{ val }}"{% endcol %}
        {% col "number" "Students" %}{{ val }}{% endcol %}
    {% enddata %}

    {% options "passFailOptions" %}
        kind: "PieChart"
    {% endoptions %}
    {% graph "passFail_chart_div" "passFailData" "passFailOptions" %}

{% endgooglecharts %}

{%endif%}

{%endblock%}