{% extends "basetemplate.html" %}

{% block javascript_block %}
<script>
    // date picker for the form 
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1980:" + new Date().getFullYear(),
    });

    // change to period view or full view on select
    $('#student-view-input input[type="radio"]').click(function() {
    	$('#student-view-input').submit();
    })

</script>
{% endblock %}

{%block head%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'students/style.css' %}" />
{% endblock %}


{% block body %}

{% block student_content %}
{% endblock student_content %}

{% endblock %}