{% extends "students/base_student.html" %}

{% block current_tab %}
	"Export"
{% endblock %}

{% block student_content %}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="{% url 'school:studentlist' %}">View Students</a></li>
    <li role="presentation"><a href="{% url 'school:studentcreate' %}">Add Student</a></li>
    <li role="presentation"><a href="{% url 'school:studentupload' %}">Upload CSV</a></li>
    <li role="presentation" class="active"><a href="{% url 'school:studentexport' %}">Export Student Data</a></li>
</ul>

 <!-- Page Heading -->
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Students <small>Export</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i> <a> Students > Export</a>
                            </li>
                        </ol>

                    </div>
                </div>


<form role="form" action="{%url 'school:studentexport' %}" method="post">
Export the following students as CSV.
	{% csrf_token %}
    <input class="btn btn-default pull-right" type="submit" value="Download CSV" />
</form> 

<br>
<table class="table table-bordered table-hover">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Birthdate</th>
		<th>Address</th>
		<th>Phone Number</th>
		<th>Parent</th>
	</tr>
	<tr> 
		<td>Richard</td>
		<td>Harris</td>	
		<td>March 4, 2015</td>	
		<td>7 Northport Pass</td>
		<td>605-555-2344</td>
		<td>Elise Harris</td>
	</tr>
	<tr> 
		<td>Marie</td>
		<td>Sims</td>	
		<td>December 4, 2015</td>	
		<td>936 Bashford Parkway</td>
		<td>605-555-2291</td>
		<td>Gregory Day</td>
	</tr>
	<tr> 
		<td>Jeffrey</td>
		<td>Watson</td>	
		<td>April 19, 2015</td>	
		<td>7436 Eliot Road</td>
		<td>605-555-8832</td>
		<td>Elise Harris</td>
	</tr>
	<tr> 
		<td>Michelle</td>
		<td>Hughes</td>	
		<td>June 22, 2015</td>	
		<td>05 Mifflin Center</td>
		<td>605-555-2184</td>
		<td>Paul Hughes</td>
	</tr>
	<tr> 
		<td>Bonnie</td>
		<td>Moore</td>	
		<td>October 1, 2015</td>	
		<td>864 Karstens Crossing</td>
		<td>605-555-3111</td>
		<td>Donald Moore</td>
	</tr>
		<tr> 
		<td>Richard</td>
		<td>Harris</td>	
		<td>March 4, 2015</td>	
		<td>7 Northport Pass</td>
		<td>605-555-2344</td>
		<td>Elise Harris</td>
	</tr>
	<tr> 
		<td>Marie</td>
		<td>Sims</td>	
		<td>December 4, 2015</td>	
		<td>936 Bashford Parkway</td>
		<td>605-555-2291</td>
		<td>Gregory Day</td>
	</tr>
	<tr> 
		<td>Jeffrey</td>
		<td>Watson</td>	
		<td>April 19, 2015</td>	
		<td>7436 Eliot Road</td>
		<td>605-555-8832</td>
		<td>Elise Harris</td>
	</tr>
	<tr> 
		<td>Michelle</td>
		<td>Hughes</td>	
		<td>June 22, 2015</td>	
		<td>05 Mifflin Center</td>
		<td>605-555-2184</td>
		<td>Paul Hughes</td>
	</tr>
	<tr> 
		<td>Bonnie</td>
		<td>Moore</td>	
		<td>October 1, 2015</td>	
		<td>864 Karstens Crossing</td>
		<td>605-555-3111</td>
		<td>Donald Moore</td>
	</tr>
		<tr> 
		<td>Richard</td>
		<td>Harris</td>	
		<td>March 4, 2015</td>	
		<td>7 Northport Pass</td>
		<td>605-555-2344</td>
		<td>Elise Harris</td>
	</tr>
	<tr> 
		<td>Marie</td>
		<td>Sims</td>	
		<td>December 4, 2015</td>	
		<td>936 Bashford Parkway</td>
		<td>605-555-2291</td>
		<td>Gregory Day</td>
	</tr>
	<tr> 
		<td>Jeffrey</td>
		<td>Watson</td>	
		<td>April 19, 2015</td>	
		<td>7436 Eliot Road</td>
		<td>605-555-8832</td>
		<td>Elise Harris</td>
	</tr>
	<tr> 
		<td>Michelle</td>
		<td>Hughes</td>	
		<td>June 22, 2015</td>	
		<td>05 Mifflin Center</td>
		<td>605-555-2184</td>
		<td>Paul Hughes</td>
	</tr>
	<tr> 
		<td>Bonnie</td>
		<td>Moore</td>	
		<td>October 1, 2015</td>	
		<td>864 Karstens Crossing</td>
		<td>605-555-3111</td>
		<td>Donald Moore</td>
	</tr>
</table>


{% endblock student_content %}