{% extends "students/base_student.html" %}

{% block student_content %}
{% if user_role == 'TEACHER'%}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="{% url 'school:studentlist' %}">View Students</a></li>
</ul>
{%else%}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="{% url 'school:studentlist' %}">View Students</a></li>
    <li role="presentation"><a href="{% url 'school:studentcreate' %}">Add Student</a></li>
    <li role="presentation"><a href="{% url 'school:studentupload' %}">Upload CSV</a></li>
</ul>
{%endif%}
<!-- Page Heading -->
<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">
            Students <small>List</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-sitemap"></i> <a> Students > Students List</a>
            </li>
        </ol>
    </div>
	<div class="col-md-3 school-list">
		<form id='student-view-input' class='form-inline' action="" method="get">
			{% if user_role != 'TEACHER'%}
	    		<span>View Students:</span>
	    		<div class="form-group">
	    		{% for radio in view_form.view %}
				    {{ radio }}
				{% endfor %}
				</div>
				{% endif %}
		<div class="filters-holder">
			<a class="btn btn-primary btn-sm" data-toggle="collapse" href="#filters" aria-expanded="false">
			Filters
			</a>
			<div class="collapse" id="filters">
	        	{{ student_filter.as_p }}
	        	<button class="btn btn-xs btn-default" type="submit" value="submit">Submit</button>
	    	</form>
	    	</div>    
		</div>
	<br><br>
		{% if student_list %}
		<ul class="list-unstyled school-list">
			{% for student in student_list %}
		  		<li>
		  		<a href="{% url 'school:studentlist' student.id %}?{{request.GET.urlencode}}">
		  			 {{ student }}
		  		</a>
		  		</li>
		  	{% endfor %}
		</ul>

		{% else %}
			<div class="alert alert-info" role="alert">No students are registered in this period.</div>
		{% endif %}
	</div>


<div class="col-md-9 student-info">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

	{% if student %}
	<span>
		<h3> Student Info </h3>
		{% if user_role != 'TEACHER' %}
		<a href="" target-url="{% url 'school:delete_student' student.id %}" id="btn-delete" class="pull-right text-danger delete-link" data-toggle="modal" data-target="#delete-modal"> Delete </a>
		<a href="{%url 'school:studentedit' student.id%}?{{request.GET.urlencode}}" id="edit-student-btn" class="pull-right"> Edit </a>
		{%endif%}
	</span>
	<table class="table table-hover">
		<tr> 
			<td> ID: </td>
			<td> {{ student.id }} </td>
		</tr>
		<tr> 
			<td> Name: </td>
			<td> 
				{{ student.first_name}} 
				{{ student.last_name }}
			</td>
		</tr>
		<tr> 
			<td> Gender: </td>
			<td> {{ student.gender }} </td>
		</tr>
		<tr> 
			<td> Birthdate: </td>
			<td> {{ student.birthdate }} </td>
		</tr>
		<tr> 
			<td> Home Phone: </td>
			<td> {{ student.home_phone }} </td>
		</tr>
		<tr> 
			<td> Address: </td>
			<td> {{ student.address }} </td>
		</tr>
		<tr> 
			<td> Email: </td>
			<td> {{ student.email }} </td>
		</tr>
		<tr> 
			<td> Allergies: </td>
			<td> {{ student.allergies }} </td>
		</tr>
		<tr> 
			<td> Emergency Contact: </td>
			<td> 
				{{ student.emergency_contact_name }}  ({{ student.relation }})
				<br>			
				{{ student.emergency_contact_phone }} 
			</td>
		</tr>
		<tr>
		<td> Parent </td>
{% if user_role == 'TEACHER' %}	
<td> {{ student.parent.first_name }} {{ student.parent.last_name }}</td>	
{%else%}
		<td> <a href="{% url 'school:parentlist' student.parent.id %}">
		{{ student.parent.first_name }} {{ student.parent.last_name }}</a>
		</td>
{%endif%}
	</tr>

		<tr>
			<td> Comments: </td>
			{% if student.comments %}
				<td> {{ student.comments }} </td>
			{% else %}
				<td> None </td>
			{% endif%}
		</tr>
	</table>

	
	{% regroup class_history_list|dictsort:"period" by period as sorted_class_list %}
	{% for class_list in sorted_class_list %}
		<h4>{{ class_list.grouper }}</h4>
		<ul>
		{% for class in class_list.list %}
			<li>
				<a href="{% url 'school:classlist' class.id %}">
				{{ class.class_name }} 
				</a>
				{% if class.status == False %}
					(Waiting List)
				{% endif %}
			</li>		
		{% endfor %}
		</ul>
	{% endfor %}


	{% else %}
		<div class="alert alert-info" role="alert">
			Select a student to view details.
		</div>
		
	{% endif %}
</div>
</div>

{% endblock student_content %}