{% extends "students/base_student.html" %}

{% block student_content %}
{% if user_role == 'TEACHER'%}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="{% url 'school:studentlist' %}">View Students</a></li>
</ul>
{%else%}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="{% url 'school:studentlist' %}">View Students</a></li>
    <li role="presentation"><a href="{% url 'school:studentcreate' %}">Add Student</a></li>
    <li role="presentation" class="active"><a href="{% url 'school:studentupload' %}">Upload CSV</a></li>
</ul>

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Students <small>Upload</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-sitemap"></i> <a> Students > Upload</a>
            </li>
        </ol>

    </div>
</div>

To add multiple students to the system, upload a CSV with the following fields
<br>
<strong>
First Name, Last Name, Gender, Birthdate, Home Phone,
Home Address, Email, Allergies, Emergency Contact Name, Emergency Contact Phone, 
Emergency Contact Relation, Parent First Name, Parent Last Name, Parent Cell Phone, Parent Email
</strong>
<br>
Note that this will create new students and parents for each row in the CSV, not edit existing students.
<br>
<br>
<a href="{% url 'school:studentsamplecsv' %}">Click here</a> to download an example of a valid CSV.
</p>

<form role="form" action="{%url 'school:studentupload' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="form-group">
	    <input type="file" id="exampleInputFile" name="file">
  	</div>
    <input type="submit" class="btn btn-primary" value="Submit" />
</form> 

<br> 

{% if errors %}
	<div class="alert alert-danger" role="alert">
	Some fields were invalid. Please fix these errors and try again. <br>
		{% for error in errors %}
			{{ error }} <br>
		{% endfor %}
	</div>
{% endif %}

{% if student_list %}
	<h4>These students were created</h4>
	<table class="table table-bordered table-hover">
	<tr>
		<td> <strong> Full Name </strong> </td>
		<td> <strong> Birthdate </strong> </td>
		<td> <strong> Address </strong> </td>
		<td> <strong> Phone Number </strong> </td>
		<td> <strong> Parent </strong> </td>
		<td> <strong> Allergies </strong> </td>
		<td> <strong> Emergency Contact </strong> </td>
	</tr>
	{% for student in student_list %}
	<tr>
		<td> 
		<a href="{% url 'school:studentlist' student.id %}">
		{{ student.first_name }} {{ student.last_name }} 
		</a>
		</td>
		<td>{{ student.birthdate }} </td>
		<td>{{ student.address }} </td>
		<td>{{ student.home_phone }} </td>
		<td>{{ student.parent }}: 
		{{ student.parent.cell_phone }} {{ student.parent.email }}</td>
		<td>{{ student.allergies }}</td>
		<td>{{ student.relation }},  
		{{ student.emergency_contact_name }}: {{ student.emergency_contact_phone }} 
		</td>
	</tr>
	{% endfor %}
	</table>
</form>
{% endif %}

{%endif%}
{% endblock student_content %}

