{% extends 'basetemplate.html' %}

{% block menu %}
                <ul class="nav navbar-nav side-nav">
                    <li >
                        <a href="{% url 'statistics_page' %}"><i class="fa fa-fw fa-bar-chart"></i>  Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-child"></i>  Students</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i>  Admin</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-users"></i>  Teachers</a>
                    </li> 
                    <li>
                        <a href="#"><i class="fa fa-users"></i>  Parents</a>
                    </li>  
                    <li>
                        <a href="#"><i class="fa fa-table"></i>  Classes</a>
                    </li>              
                    <li>
                        <a href="#"><i class="fa fa-file-o"></i>  Reports</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-calendar"></i>  Periods</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-university"></i>  Schools</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-book"></i>  Courses</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'send_email' %}"><i class="fa fa-users"></i>  Email</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-wrench"></i> Settings</a>
                    </li>
                </ul>
{% endblock %} 

{% block body %}
{% block messages %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
              <ul class="messages">
                <li>{{ message }}</li>
              </ul>
            </div>
          {% endfor %}
        {% endif %}

        {% if form.errors %}
          <div class="alert alert-error">
            {% for key, error in form.errors.items %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
         <form action="/" method="post">{% csrf_token %}
          <div class="form-input"><label>To:</label> {{ form.to_mail }}</div>
          <div class="form-input"><label>Subject: </label>{{ form.subject_mail }}</div>
          <div class="form-input"><label>Content: </label>{{ form.content_mail }}</div>
          <div><input type="submit" value="Send" class="buttton" /></div>
        </form>
        
{% endblock %}
{% endblock %}