{% extends 'basetemplate.html' %}

{% block menu %}
                <ul class="nav navbar-nav side-nav">
                    <li >
                        <a href="{% url 'statistics_page' %}"><i class="fa fa-fw fa-bar-chart"></i>  Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-child"></i>  Students</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i>  Admin</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-users"></i>  Teachers</a>
                    </li> 
                    <li>
                        <a href="#"><i class="fa fa-users"></i>  Parents</a>
                    </li>  
                    <li>
                        <a href="#"><i class="fa fa-table"></i>  Classes</a>
                    </li>              
                    <li>
                        <a href="#"><i class="fa fa-file-o"></i>  Reports</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-calendar"></i>  Periods</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-university"></i>  Schools</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-book"></i>  Courses</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'send_email' %}"><i class="fa fa-users"></i>  Email</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-wrench"></i> Settings</a>
                    </li>
                </ul>
{% endblock %} 

{% block body %}

{% block messages %}
        {% if messages %}
        <div id="messages-containter">
        {% for message in messages %}
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>{{ message.tags }}</strong> {{ message }}
            </div>
        {% endfor %}
        </div>
        {% endif %}
        {% endblock messages %}

        {% block send_email_form %}
        <form action="/" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send" />
        </form>
        {% endblock send_email_form %}
        
{%endblock%}