{% extends 'basetemplate.html' %}

{% block menu %}
                <ul class="nav navbar-nav side-nav">
                    <li >
                        <a href="{% url 'statistics_page' %}"><i class="fa fa-fw fa-bar-chart"></i>  Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-child"></i>  Students</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i>  Admin</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'teacherstable_page' %}"><i class="fa fa-users"></i>  Teachers</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-users"></i>  Parents</a>
                    </li>  
                    <li>
                        <a href="#"><i class="fa fa-table"></i>  Classes</a>
                    </li>              
                    <li>
                        <a href="#"><i class="fa fa-file-o"></i>  Reports</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-calendar"></i>  Periods</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-university"></i>  Schools</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-book"></i>  Courses</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope"></i>  Email</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-wrench"></i> Settings</a>
                    </li>
                </ul>
{% endblock %} 

{% block body %}

                <!-- Page Heading -->
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Teachers
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i> <a> [Website Path] > Teachers </a>
                            </li>
                        </ol>

                    </div>
                </div>



{%if not active_teachers_list %}

<div class="body-top-bar">
	<div class="centralize">
				<p>Here you will find the list of graduate students who already worked for you.</p>
				<p>You can start adding a teacher.</p>
	</div>
</div>

{%else%}

 <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
    
                                            <tr>
												<th>Name</th>
											</tr>

											{%for teacher in active_teachers%}
											<tr>
												<td><a href="#">{{teacher.name}}</a></td>	
											</tr>
											{%endfor%}

                                    </table>
                                </div>
	</div>


{%endif%}

{% endblock %}

