{% extends "teachers/base_teacher.html" %}

{% block current_tab %}
	"Add Teacher"
{% endblock %}

{% block teacher_content %}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="{% url 'account:view_teachers' %}">View Teachers</a></li>
    <li role="presentation" class="active"><a href="{% url 'account:create_teacher' %}">Add Teacher</a></li>
    <li role="presentation"><a href="{% url 'account:upload_teachers' %}">Upload CSV</a></li>
</ul>

				<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Teachers<small> Create</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-sitemap"></i> <a> Teachers > Create</a>
                            </li>
                        </ol>

                    </div>
                </div>


	{% if errors %}
		<div class="panel panel-danger">
			{{ errors }}
		</div>
	{% endif %}

	{% if user_ret %}
		<div class="alert alert-info" role="alert"> Teacher {{user_ret.first_name}} {{user_ret.last_name}} created successfully! </div>
	{% endif %}
	
	<form role="form" action="{%url 'account:create_teacher' %}" method="post">
		{% csrf_token %}
		{% if error %} {{error}} {%endif%}
		<table class="table table-hover teacher-form">
	    	{{ user_form.as_table }}
			{{ teacher_phone.as_table }}
			{{ teacher_form.as_table }}
		</table>
		<div> <h4> Availability </h4> </div>
		<table class=" table-hover teacher-form">
			{{ availability_form.as_table }}
	    </table>
	    <input type="submit" class="btn btn-primary center-block" value="Submit" />
	</form> 

	<br>
{% endblock teacher_content %}