{% extends "teachers/base_teacher.html" %}

{% block teacher_content %}
<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="{% url 'account:view_teachers' %}">View Teachers</a></li>
    <li role="presentation"><a href="{% url 'account:create_teacher' %}">Add Teacher</a></li>
    <li role="presentation"><a href="{% url 'account:upload_teachers' %}">Upload CSV</a></li>
</ul>

<div class="row">   
	<div class="col-lg-12">
    <h1 class="page-header">
        Teachers<small> List</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-sitemap"></i> <a> Teachers > List</a>
        </li>
    </ol>
</div>

<div class="col-md-3 school-list">

	<div class="filters-holder">
		<a class="btn btn-primary btn-sm" data-toggle="collapse" href="#filters" aria-expanded="false">
		Filters
		</a>
		<div class="collapse" id="filters">
		 <form action="{%url 'account:view_teachers' %}" method="get">
        	{{ teacher_filter.as_p }}
        	<button class="btn btn-xs btn-default" type="submit" value="submit">Submit</button>
    	</form>
		</div>
	</div>
<br><br>
	{% if teacher_list %}
	<ul class="list-unstyled teacher-list">
		{% for teacher in teacher_list %}
	  		<li>
	  		<a href="{% url 'account:view_teachers' teacher.id %}">
	  			{{ teacher.user.user.first_name }} {{ teacher.user.user.last_name }}
	  		</a>
	  		</li>
	  	{% endfor %}
	</ul>

	{% else %}
		<div class="alert alert-info" role="alert">No teachers have been added.</div>
	{% endif %}
</div>

<div class="col-md-9 teacher-info">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

	{% if teacher %}
	<span>
		<h3> Teacher Info </h3>
        <a href="" target-url="{% url 'account:delete_teacher' teacher.id %}" id="btn-delete" class="pull-right text-danger delete-link" data-toggle="modal" data-target="#delete-modal"> Delete </a>
		<a href="{% url 'account:edit_teacher' teacher.id %}" id="edit-teacher-btn" class="pull-right"> Edit </a>
	</span>
	<table class="table table-hover">
		<tr> 
			<td> Teacher ID: </td>
			<td> {{ teacher.id }} </td>
		</tr>
		<tr> 
			<td> First Name: </td>
			<td> 

				{{ teacher.user.user.first_name}} 

			</td>
		</tr>
		<tr> 
			<td> Last Name: </td>
			<td> 
				{{ teacher.user.user.last_name}} 
			</td>
		</tr>
		<tr> 
			<td> Phone number: </td>
			<td> {{ teacher.user.phone }} </td>
		</tr>
		<!--<tr> 
			<td> School branch: </td>
			<td> {{ teacher.user.school.title }} </td>
		</tr>-->
		<tr> 
			<td> Days available: </td>
			<td> 

			        Monday: {% if teacher.teaching_availability.monday %} Available
					{%elif teacher.teaching_availability.monday == None%} Unknown
					{%else%} Not Available {% endif %}
					{% if teacher.teaching_availability.monday_times %} - {{teacher.teaching_availability.monday_times}} {%endif%}
						<br>
				
					Tuesday: {% if teacher.teaching_availability.tuesday %} Available
					{%elif teacher.teaching_availability.tuesday == None%} Unknown
					{%else%} Not Available {% endif %}
					{% if teacher.teaching_availability.tuesday_times %} - {{teacher.teaching_availability.tuesday_times}} {%endif%}
						<br>
						
					Wednesday: {% if teacher.teaching_availability.wednesday %} Available
					{%elif teacher.teaching_availability.wednesday == None%} Unknown
					{%else%} Not Available {% endif %}
					{% if teacher.teaching_availability.wednesday_times %} - {{teacher.teaching_availability.wednesday_times}} {%endif%}
						<br>

					Thursday: {% if teacher.teaching_availability.thursday %} Available
					{%elif teacher.teaching_availability.thursday == None%} Unknown
					{%else%} Not Available {% endif %}
					{% if teacher.teaching_availability.thursday_times %} - {{teacher.teaching_availability.thursday_times}} {%endif%}
						<br>
						
					Friday: {% if teacher.teaching_availability.friday %} Available
					{%elif teacher.teaching_availability.friday == None%} Unknown
					{%else%} Not Available {% endif %}
					{% if teacher.teaching_availability.friday_times %} - {{teacher.teaching_availability.friday_times}} {%endif%}
						<br>
						
						</td>
		</tr>
		<tr> 
			<td> Additional Comments: </td>
			<td> {{ teacher.comments }} </td>
		</tr>
	</table>

	<h4>2015</h4>
	<ul>
		<li><a href="#">Music Level 1</a></li>
		<li><a href="#">History Level 2</a></li>
	</ul>

	<h4>2013</h4>
	<ul>
		<li><a href="#">History Level 1</a></li>
	</ul>

	{% else %}
		{% if not_valid_teacher %}
		<div class="alert alert-info" role="alert">
			There is no teacher in this school and period with that id.
		</div>
		
		{% else %}
		<div class="alert alert-info" role="alert">
			Select a teacher to view details.
		</div>
		{% endif %}
	{% endif %}
</div>

{% endblock teacher_content %}